<!DOCTYPE html>
<!-- La Notte - Nail Salon HTML5 Template design by DSAThemes (http://www.dsathemes.com) -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">


	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="author" content="DSAThemes"/>	
		<meta name="description" content="La Notte - Nail Salon HTML5 Template"/>
		<meta name="keywords" content="DSAThemes, Beauty, Salon, Beauty Parlour, Nails, Manicure, Pedicure, Care, Health, Massage">	
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
				
  		<!-- SITE TITLE -->
		<title>La Notte - Nail Salon HTML5 Template</title>
							
		<!-- FAVICON AND TOUCH ICONS -->
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="icon" href="images/apple-touch-icon.png" type="image/x-icon">

		<!-- GOOGLE FONTS -->
		<link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;700;800&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap" rel="stylesheet">

		<!-- BOOTSTRAP CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
				
		<!-- FONT ICONS -->
		<link href="css/flaticon.css" rel="stylesheet">

		<!-- PLUGINS STYLESHEET -->
		<link href="css/menu.css" rel="stylesheet">	
		<link id="effect" href="css/dropdown-effects/fade-down.css" media="all" rel="stylesheet">
		<link href="css/magnific-popup.css" rel="stylesheet">	
		<link href="css/flexslider.css" rel="stylesheet">
		<link href="css/owl.carousel.min.css" rel="stylesheet">
		<link href="css/owl.theme.default.min.css" rel="stylesheet">
		<link href="css/datetimepicker.min.css" rel="stylesheet">

		<!-- TEMPLATE CSS -->
		<link href="css/style.css" rel="stylesheet"> 

		<!-- ON SCROLL ANIMATION -->
		<link href="css/animate.css" rel="stylesheet">
		
		<!-- RESPONSIVE CSS -->
		<link href="css/responsive.css" rel="stylesheet">

	</head>



	<body>



		<!-- PRELOADER SPINNER
		============================================= -->
		<div id="loading" class="rose-loading">
			<div id="loading-center">
				<div class="spinner">
				  	<div class="blob top"></div>
				  	<div class="blob bottom"></div>
				  	<div class="blob left"></div>
				  	<div class="blob move-blob"></div>
				</div>
			</div>
		</div>




		<!-- PAGE CONTENT
		============================================= -->	
		<div id="page" class="page">




			<!-- HEADER
			============================================= -->
			<header id="header" class="header white-menu navbar-dark">
				<div class="header-wrapper">


					<!-- MOBILE HEADER -->
				    <div class="wsmobileheader clearfix">	  	
				    	<span class="smllogo"><img src="images/logo-01.png" alt="mobile-logo"/></span>
				    	<a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>	
				    	<a href="tel:123456789" class="callusbtn ico-20"><span class="flaticon-phone-call-1"></span></a>
				 	</div>


				 	<!-- NAVIGATION MENU -->
				  	<div class="wsmainfull menu clearfix">
	    				<div class="wsmainwp clearfix">


	    					<!-- HEADER LOGO -->
	    					<div class="desktoplogo"><a href="demo-1.html" class="logo-black"><img src="images/logo-01.png" alt="header-logo"></a></div>
	    					<div class="desktoplogo"><a href="demo-1.html" class="logo-white"><img src="images/logo-white.png" alt="header-logo"></a></div>


	    					<!-- MAIN MENU -->
	      					<nav class="wsmenu clearfix">
	        					<ul class="wsmenu-list">


	        						<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="demo-1.html">Home</a></li>


							    	<!-- DROPDOWN MENU -->
						        	<li aria-haspopup="true"><a href="#">Pages <span class="wsarrow"></span></a>
						        		<div class="wsmegamenu clearfix halfmenu">
						              		<div class="container-fluid">
						                		<div class="row">

						                			<!-- Links -->
									                <ul class="col-lg-6 link-list">	
									                	<li><a href="about.html">About Us</a></li>							          
									                    <li><a href="pricing.html">Services & Prices</a></li>
									                    <li><a href="gallery.html">Gallery Page</a></li>
									                    <li><a href="gift-cards.html">Gift Cards</a></li>  
									                    <li><a href="team.html">Artists + Staff</a></li>  
									                    <li><a href="careers.html">Careers</a></li> 
									                </ul>

								                  	<!-- Links -->
									                <ul class="col-lg-6 link-list">	
									                	<li><a href="faqs.html">FAQs Page</a></li> 			               
									                    <li><a href="blog-listing.html">Blog Listing</a></li>
									                    <li><a href="single-post.html">Single Blog Post</a></li>
									                    <li><a href="booking.html">Booking Page</a></li>
									                    <li><a href="contacts.html">Contact Us</a></li>
									                    <li><a href="location.html">Our Locations</a></li>
									                </ul>

						                		</div>
						              		</div>
						            	</div>
						          	</li>	<!-- END DROPDOWN MENU -->


						          	<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="pricing.html">Menu</a></li>


						          	<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="gallery.html">Gallery</a></li>


							    	<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="booking.html">Booking</a></li>


							    	<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="careers.html">Careers</a></li>


								    <!-- HEADER BUTTON -->
								    <li class="nl-simple" aria-haspopup="true">
								    	<a href="contacts.html" class="btn rose--btn tra-black--hover last-link">Contacts</a>
								    </li> 


	        					</ul>
	        				</nav>	<!-- END MAIN MENU -->


	    				</div>
	    			</div>	<!-- END NAVIGATION MENU -->


				</div>     <!-- End header-wrapper -->
			</header>	<!-- END HEADER -->




			<!-- BLOG-2
			============================================= -->
			<section id="blog-2" class="wide-40 inner-page-hero blog-section division">					
				<div class="container">	


					<!-- SECTION TITLE -->	
					<div class="row justify-content-center">	
						<div class="col-md-10 col-lg-8">
							<div class="section-title title-01 mb-70">	

								<!-- Section ID -->	
					 			<span class="section-id">From The Blog</span>	

					 			<!-- Title -->	
								<h2 class="h2-lg">We really have so much to share with you!</h2>

							</div>	
						</div>
					</div>


					<!-- BLOG-2 WRAPPER -->
					<div class="row">	
						<div class="col-md-12">
							<div class="masonry-wrap grid-loaded">


								<!-- BLOG POST #1 -->
							  	<div class="masonry-image">
							  		<div id="bp-2-1" class="blog-2-post">

							 			<!-- BLOG POST IMAGE -->
							 			<div class="blog-post-img">
							 				<div class="hover-overlay"> 
												<img class="img-fluid" src="images/blog/700x600_1.jpg" alt="blog-post-image" />
												<div class="item-overlay"></div>
											</div>
										</div>

										<!-- BLOG POST TEXT -->
										<div class="blog-post-txt">

											<!-- Post Tag -->
											<p class="post-tag">Manicure, Trends <span>|</span> Oct 10, 2021</p>	

											<!-- Post Link -->
											<h5 class="h5-md black--color">
												<a href="single-post.html">Integer turpis donec ipsum a porta malesuada auctor</a>
											</h5>

											<!-- Text -->
											<p class="p-lg">Mullam blandit tempor sapien gravida and donec and ipsum porta justo...</p>

										</div>	<!-- END BLOG POST TEXT -->

									</div>
								</div>	<!-- END BLOG POST #1 -->


								<!-- BLOG POST #2 -->
							  	<div class="masonry-image">
							  		<div id="bp-2-2" class="blog-2-post">

							 			<!-- BLOG POST IMAGE -->
							 			<div class="blog-post-img">
							 				<div class="hover-overlay"> 
												<img class="img-fluid" src="images/blog/700x700_1.jpg" alt="blog-post-image" />
												<div class="item-overlay"></div>
											</div>
										</div>

										<!-- BLOG POST TEXT -->
										<div class="blog-post-txt">

											<!-- Post Tag -->
											<p class="post-tag">Feet Treatment <span>|</span> Oct 03, 2021</p>	

											<!-- Post Link -->
											<h5 class="h5-md black--color">
												<a href="single-post.html">A ligula risus auctor tempus and congue orci magna</a>
											</h5>

											<!-- Text -->
											<p class="p-lg">A nullam tempor famesa integer sapien gravida donec and pretium ipsum...</p>

										</div>	<!-- END BLOG POST TEXT -->

									</div>
								</div>	<!-- END BLOG POST #2 -->	


								<!-- BLOG POST #3 -->
							  	<div class="masonry-image">
							  		<div id="bp-2-3" class="blog-2-post">

							 			<!-- BLOG POST IMAGE -->
							 			<div class="blog-post-img">
							 				<div class="hover-overlay"> 
												<img class="img-fluid" src="images/blog/700x600_2.jpg" alt="blog-post-image" />
												<div class="item-overlay"></div>
											</div>
										</div>

										<!-- BLOG POST TEXT -->
										<div class="blog-post-txt">

											<!-- Post Tag -->
											<p class="post-tag">Manicure, Trends <span>|</span> Sept 28, 2021</p>	

											<!-- Post Link -->
											<h5 class="h5-md black--color">
												<a href="single-post.html">Donec sapien augue integer turpis at cursus mauris</a>
											</h5>

											<!-- Text -->
											<p class="p-lg">An orci nullam tempor sapien, gravida orci donec enim ipsum porta
											   justo integer odio velna auctor a purus egestas volute...
											</p>

										</div>	<!-- END BLOG POST TEXT -->

									</div>
								</div>	<!-- END BLOG POST #3 -->	


								<!-- BLOG POST #4 -->
							  	<div class="masonry-image">
							  		<div id="bp-2-4" class="blog-2-post">

							 			<!-- BLOG POST IMAGE -->
							 			<div class="blog-post-img">
							 				<div class="hover-overlay"> 
												<img class="img-fluid" src="images/blog/700x700_2.jpg" alt="blog-post-image" />
												<div class="item-overlay"></div>
											</div>
										</div>

										<!-- BLOG POST TEXT -->
										<div class="blog-post-txt">

											<!-- Post Tag -->
											<p class="post-tag">Healthy Lifestyle <span>|</span> Sept 19, 2021</p>	

											<!-- Post Link -->
											<h5 class="h5-md black--color">
												<a href="single-post.html">Turpis donec Integer auctor urna ipsum and porta</a>
											</h5>

											<!-- Text -->
											<p class="p-lg">Egestas egestas magna ipsum vitae purus neque dolor ipsum primis cubilia 
											   laoreet augue egestas luctus neque purus...
											</p>

										</div>	<!-- END BLOG POST TEXT -->

									</div>
								</div>	<!-- END BLOG POST #4 -->


								<!-- BLOG POST #5 -->
							  	<div class="masonry-image">
							  		<div id="bp-2-5" class="blog-2-post">

							 			<!-- BLOG POST IMAGE -->
							 			<div class="blog-post-img">
							 				<div class="hover-overlay"> 
												<img class="img-fluid" src="images/blog/700x700_3.jpg" alt="blog-post-image" />
												<div class="item-overlay"></div>
											</div>
										</div>

										<!-- BLOG POST TEXT -->
										<div class="blog-post-txt">

											<!-- Post Tag -->
											<p class="post-tag">Hands Treatment <span>|</span> Sept 06, 2021</p>	

											<!-- Post Link -->
											<h5 class="h5-md black--color">
												<a href="single-post.html">Famesa vitae dolores a neque and sapien congue augue</a>
											</h5>

											<!-- Text -->
											<p class="p-lg">Mullam blandit tempor sapien gravida undo donec an ipsum libero porta
											   justo...
											</p>

										</div>	<!-- END BLOG POST TEXT -->

									</div>
								</div>	<!-- END BLOG POST #5 -->


								<!-- BLOG POST #6 -->
							  	<div class="masonry-image">
							  		<div id="bp-2-6" class="blog-2-post">

							 			<!-- BLOG POST IMAGE -->
							 			<div class="blog-post-img">
							 				<div class="hover-overlay"> 
												<img class="img-fluid" src="images/blog/700x500_1.jpg" alt="blog-post-image" />
												<div class="item-overlay"></div>
											</div>
										</div>

										<!-- BLOG POST TEXT -->
										<div class="blog-post-txt">

											<!-- Post Tag -->
											<p class="post-tag">At Home Manicure <span>|</span> Aug 28, 2021</p>	

											<!-- Post Link -->
											<h5 class="h5-md black--color">
												<a href="single-post.html">Ligula neque aliqum mullam and volutpat ligula risus</a>
											</h5>

											<!-- Text -->
											<p class="p-lg">Sagittis congue augue at magna egestas volutpat egestas a suscipit 
												egestas ipsum egestas volute undo vitae efficitur...
									      	</p>

										</div>	<!-- END BLOG POST TEXT -->

									</div>
								</div>	<!-- END BLOG POST #6 -->


							</div>
						</div>	
					</div>	 <!-- END BLOG-2 WRAPPER -->


				</div>	   <!-- End container -->
			</section>	<!-- END BLOG-2 -->




			<!-- PAGE PAGINATION
			============================================= -->
			<div class="pb-100 page-pagination division">
				<div class="container">
					<div class="row">	
						<div class="col-md-12">
							<nav aria-label="Page navigation example">
								<ul class="pagination ico-20 justify-content-center">
							    	<li class="page-item disabled">
								      <a class="page-link" href="#" tabindex="-1">
								        <span class="flaticon-22"></span>
								      </a>
								    </li>
								    <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
								    <li class="page-item"><a class="page-link" href="#">2</a></li>
								    <li class="page-item"><a class="page-link" href="#">3</a></li>
								    <li class="page-item">
								      <a class="page-link" href="#" aria-label="Next">
								        <span class="flaticon-20"></span>
								      </a>
							    	</li>
								</ul>
							</nav>
						</div>
					</div>  <!-- End row -->	
				</div> <!-- End container -->
			</div>	<!-- END PAGE PAGINATION -->




			<!-- NEWSLETTER-1
			============================================= -->
			<section id="newsletter-1" class="newsletter-section division">
				<div class="container">
					<div class="newsletter-wrapper bg--white-smoke">


						<!-- SECTION TITLE -->
						<div class="row justify-content-center">	
							<div class="col-lg-10 col-xl-8">
								<div class="section-title title-01 mb-50">	

									<!-- Section ID -->	
						 			<span class="section-id">Connect with La Notte</span>	

									<!-- Title -->	
									<h2 class="h2-lg">Join Our Newsletter</h2>	

								</div>	
							</div>
						</div>


						<div class="row">


							<!-- NEWSLETTER FORM -->
							<div class="col">
								<form class="newsletter-form">
											
									<div class="input-group">
										<input type="email" autocomplete="off" class="form-control" placeholder="Your email address" required id="s-email">								
										<span class="input-group-btn">
											<button type="submit" class="btn rose--btn black--hover">Subscribe Now</button>
										</span>										
									</div>

									<!-- Small Text -->
									<p class="p-md">By signing and clicking Submit, you affirm you have read and agree to the 
										<a href="#" class="black--color">Privacy Policy</a> and <a href="#" class="black--color">Terms of Use</a>, 
										and want to receive news.
									</p>

									<!-- Newsletter Form Notification -->	
									<label for="s-email" class="form-notification"></label>
												
								</form>							
							</div>	  <!-- END NEWSLETTER FORM -->


						</div>	  <!-- End row -->


					</div>    <!-- End newsletter-wrapper -->
				</div>	   <!-- End container -->	
			</section>	<!-- END NEWSLETTER-1 -->




			<!-- FOOTER-1
			============================================= -->
			<footer id="footer-1" class="footer division">
				<div class="container">


					<!-- FOOTER CONTENT -->
					<div class="row">


						<!-- FOOTER CONTACTS -->
						<div class="col-sm-6 col-lg-4">
							<div class="footer-contacts mb-40">
							
								<!-- Title -->
								<h5 class="h5-md">Get in Touch</h5>

								<!-- Address -->
								<p class="p-lg">8721 M Central Avenue, CA 90036</p> 

								<!-- Phone -->
								<p class="p-lg"><a href="tel:123456789">ph: +12 9 8765 4321</a></p>

								<!-- Email -->
								<p class="p-lg"><a href="mailto:yourdomain@mail.com" class="txt-600">hello@yourdomain.com</a></p>

								<!-- List -->
								<ul class="foo-socials ico-20 text-center clearfix">									
									<li><a href="#" class="ico-facebook"><span class="flaticon-instagram"></span></a></li>
									<li><a href="#" class="ico-twitter"><span class="flaticon-facebook"></span></a></li>	
									<li><a href="#" class="ico-youtube"><span class="flaticon-yelp"></span></a></li>
									<li><a href="#" class="ico-youtube"><span class="flaticon-vimeo"></span></a></li>
								</ul>

							</div>	
						</div>	


						<!-- FOOTER CONTACTS -->
						<div class="col-sm-6 col-lg-3">
							<div class="footer-info mb-40">
								
								<!-- Title -->
								<h5 class="h5-md">Working Hours</h5>

								<!-- Text -->	
								<p class="p-lg">Mon-Fri: 10:00AM - 9:00PM</p>
								<p class="p-lg">Saturday: 10:00AM - 7:00PM</p>
								<p class="p-lg">Sunday: 10:00PM - 7:00PM</p>

								<!-- Booking Link -->
								<h5 class="h5-lg booking-link">
									<a href="booking.html" class="rose--color">Book a Service</a>
								</h5>

							</div>
						</div>


						<!-- FOOTER INSTAGRAM -->
						<div class="col-lg-5">
							<div class="footer-img text-end mb-30">

								<!-- IMAGES -->
								<ul class="footer-instagram clearfix">

									<!-- IMAGE #1 -->
									<li class="foo-img">
										<a href="#" target="_blank">
											<div class="hover-overlay"> 
												<img class="insta-img" src="images/instagram/700x700_1.jpg" alt="insta-img">
												<div class="item-overlay"></div>
											</div>
										</a>
									</li>

									<!-- IMAGE #2 -->
									<li class="foo-img">
										<a href="#" target="_blank">
											<div class="hover-overlay"> 
												<img class="insta-img" src="images/instagram/700x700_2.jpg" alt="insta-img">
												<div class="item-overlay"></div>
											</div>
										</a>
									</li>

									<!-- IMAGE #3 -->
									<li class="foo-img">
										<a href="#" target="_blank">
											<div class="hover-overlay"> 
												<img class="insta-img" src="images/instagram/700x700_3.jpg" alt="insta-img">
												<div class="item-overlay"></div>
											</div>
										</a>
									</li>

									<!-- IMAGE #4 -->
									<li class="foo-img">
										<a href="#" target="_blank">
											<div class="hover-overlay"> 
												<img class="insta-img" src="images/instagram/700x700_4.jpg" alt="insta-img">
												<div class="item-overlay"></div>
											</div>
										</a>
									</li>

									<!-- IMAGE #5 -->
									<li class="foo-img">
										<a href="#" target="_blank">
											<div class="hover-overlay"> 
												<img class="insta-img" src="images/instagram/700x700_5.jpg" alt="insta-img">
												<div class="item-overlay"></div>
											</div>
										</a>
									</li>

									<!-- IMAGE #6 -->
									<li class="foo-img">
										<a href="#" target="_blank">
											<div class="hover-overlay"> 
												<img class="insta-img" src="images/instagram/700x700_6.jpg" alt="insta-img">
												<div class="item-overlay"></div>
											</div>
										</a>
									</li>

								</ul>						
							</div>
						</div>	<!-- END FOOTER INSTAGRAM -->


					</div>	  <!-- END FOOTER CONTENT -->


					<!-- BOTTOM FOOTER -->
					<div class="bottom-footer">
						<div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">


							<!-- FOOTER COPYRIGHT -->
							<div class="col">
								<div class="footer-copyright"><p class="p-md">&copy; 2021 La Notte. All Rights Reserved</p></div>
							</div>


							<!-- BOTTOM FOOTER LINKS -->
							<div class="col">
								<ul class="bottom-footer-list text-end">
									<li class="first-li"><p class="p-md"><a href="#">Privacy Policy</a></p></li>
									<li><span>|</span></li>
									<li class="last-li"><p class="p-md"><a href="#">Terms & Conditions</a></p></li>
								</ul>
							</div>


						</div>  <!-- End row -->
					</div>	<!-- BOTTOM FOOTER -->


				</div>	   <!-- End container -->										
			</footer>	<!-- END FOOTER-1 -->


		

		</div>	<!-- END PAGE CONTENT -->	
			



		<!-- EXTERNAL SCRIPTS
		============================================= -->	
		<script src="js/jquery-3.6.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>	
		<script src="js/modernizr.custom.js"></script>
		<script src="js/jquery.easing.js"></script>
		<script src="js/jquery.appear.js"></script>
		<script src="js/jquery.scrollto.js"></script>	
		<script src="js/menu.js"></script>
		<script src="js/materialize.js"></script>
		<script src="js/datetimepicker.js"></script>	
		<script src="js/jquery.vide.min.js"></script>	
		<script src="js/imagesloaded.pkgd.min.js"></script>
		<script src="js/isotope.pkgd.min.js"></script>
		<script src="js/jquery.flexslider.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/booking-form.js"></script>	
		<script src="js/contact-form.js"></script>	
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/jquery.ajaxchimp.min.js"></script>	
		<script src="js/wow.js"></script>
				
		<!-- Custom Script -->		
		<script src="js/custom.js"></script>

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->															
		<!--
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->




	</body>



</html>
