<!DOCTYPE html>
<!-- La Notte - Nail Salon HTML5 Template design by DSAThemes (http://www.dsathemes.com) -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">


	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="author" content="DSAThemes"/>	
		<meta name="description" content="La Notte - Nail Salon HTML5 Template"/>
		<meta name="keywords" content="DSAThemes, Beauty, Salon, Beauty Parlour, Nails, Manicure, Pedicure, Care, Health, Massage">	
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
				
  		<!-- SITE TITLE -->
		<title>La Notte - Nail Salon HTML5 Template</title>
							
		<!-- FAVICON AND TOUCH ICONS -->
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="icon" href="images/apple-touch-icon.png" type="image/x-icon">

		<!-- GOOGLE FONTS -->
		<link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;700;800&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap" rel="stylesheet">

		<!-- BOOTSTRAP CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
				
		<!-- FONT ICONS -->
		<link href="css/flaticon.css" rel="stylesheet">

		<!-- PLUGINS STYLESHEET -->
		<link href="css/menu.css" rel="stylesheet">	
		<link id="effect" href="css/dropdown-effects/fade-down.css" media="all" rel="stylesheet">
		<link href="css/magnific-popup.css" rel="stylesheet">	
		<link href="css/flexslider.css" rel="stylesheet">
		<link href="css/owl.carousel.min.css" rel="stylesheet">
		<link href="css/owl.theme.default.min.css" rel="stylesheet">
		<link href="css/datetimepicker.min.css" rel="stylesheet">

		<!-- TEMPLATE CSS -->
		<link href="css/style.css" rel="stylesheet"> 

		<!-- ON SCROLL ANIMATION -->
		<link href="css/animate.css" rel="stylesheet">
		
		<!-- RESPONSIVE CSS -->
		<link href="css/responsive.css" rel="stylesheet">

	</head>



	<body>



		<!-- PRELOADER SPINNER
		============================================= -->
		<div id="loading" class="rose-loading">
			<div id="loading-center">
				<div class="spinner">
				  	<div class="blob top"></div>
				  	<div class="blob bottom"></div>
				  	<div class="blob left"></div>
				  	<div class="blob move-blob"></div>
				</div>
			</div>
		</div>




		<!-- PAGE CONTENT
		============================================= -->	
		<div id="page" class="page">




			<!-- HEADER
			============================================= -->
			<header id="header" class="header tra-menu navbar-light">
				<div class="header-wrapper">


					<!-- MOBILE HEADER -->
				    <div class="wsmobileheader clearfix">	  	
				    	<span class="smllogo"><img src="images/logo-01.png" alt="mobile-logo"/></span>
				    	<a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>	
				    	<a href="tel:123456789" class="callusbtn ico-20"><span class="flaticon-phone-call-1"></span></a>
				 	</div>


				 	<!-- NAVIGATION MENU -->
				  	<div class="wsmainfull menu clearfix">
	    				<div class="wsmainwp clearfix">


	    					<!-- HEADER LOGO -->
	    					<div class="desktoplogo"><a href="demo-1.html" class="logo-black"><img src="images/logo-01.png" alt="header-logo"></a></div>
	    					<div class="desktoplogo"><a href="demo-1.html" class="logo-white"><img src="images/logo-white.png" alt="header-logo"></a></div>


	    					<!-- MAIN MENU -->
	      					<nav class="wsmenu clearfix">
	        					<ul class="wsmenu-list">


	        						<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="demo-1.html">Home</a></li>


							    	<!-- DROPDOWN MENU -->
						        	<li aria-haspopup="true"><a href="#">Pages <span class="wsarrow"></span></a>
						        		<div class="wsmegamenu clearfix halfmenu">
						              		<div class="container-fluid">
						                		<div class="row">

						                			<!-- Links -->
									                <ul class="col-lg-6 link-list">	
									                	<li><a href="about.html">About Us</a></li>							          
									                    <li><a href="pricing.html">Services & Prices</a></li>
									                    <li><a href="gallery.html">Gallery Page</a></li>
									                    <li><a href="gift-cards.html">Gift Cards</a></li>  
									                    <li><a href="team.html">Artists + Staff</a></li>  
									                    <li><a href="careers.html">Careers</a></li> 
									                </ul>

								                  	<!-- Links -->
									                <ul class="col-lg-6 link-list">	
									                	<li><a href="faqs.html">FAQs Page</a></li> 			               
									                    <li><a href="blog-listing.html">Blog Listing</a></li>
									                    <li><a href="single-post.html">Single Blog Post</a></li>
									                    <li><a href="booking.html">Booking Page</a></li>
									                    <li><a href="contacts.html">Contact Us</a></li>
									                    <li><a href="location.html">Our Locations</a></li>
									                </ul>

						                		</div>
						              		</div>
						            	</div>
						          	</li>	<!-- END DROPDOWN MENU -->


						          	<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="pricing.html">Menu</a></li>


						          	<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="gallery.html">Gallery</a></li>


							    	<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="careers.html">Careers</a></li>


							    	<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="blog-listing.html">Blog</a></li>


								    <!-- HEADER BUTTON -->
								    <li class="nl-simple" aria-haspopup="true">
								    	<a href="contacts.html" class="btn rose--btn tra-white--hover last-link">Contacts</a>
								    </li> 


	        					</ul>
	        				</nav>	<!-- END MAIN MENU -->


	    				</div>
	    			</div>	<!-- END NAVIGATION MENU -->


				</div>     <!-- End header-wrapper -->
			</header>	<!-- END HEADER -->




			<!-- PAGE HERO
			============================================= -->	
			<section id="booking-page" class="bg-fixed page-hero-section division">
				<div class="container">	


					<!-- PAGE HERO TEXT -->
					<div class="row justify-content-center">	
						<div class="col-md-10 col-xl-8">
							<div class="hero-txt text-center white--color">
								<h2 class="h2-xl">Book An Appointment</h2>	
							</div>	
						</div>
					</div>


					<!-- BREADCRUMB -->
					<div id="breadcrumb">
						<div class="row d-flex align-items-center">					
							<div class="col">
								<div class="breadcrumb-nav">
									<nav aria-label="breadcrumb">
									  	<ol class="breadcrumb">
									    	<li class="breadcrumb-item"><a href="demo-1.html">Home</a></li>
									    	<li class="breadcrumb-item active" aria-current="page">Booking Online</li>
									  	</ol>
									</nav>
								</div>
							</div>
						</div> 
					</div>	<!-- END BREADCRUMB -->


				</div>	   <!-- End container --> 
			</section>	<!-- END PAGE HERO -->




			<!-- SERVICES-5
			============================================= -->
			<section id="services-5" class="wide-100 services-section division">
				<div class="container">


					<!-- SERVICES-5 WRAPPER -->
					<div class="sbox-5-wrapper text-center">
			 			<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
			 			

							<!-- SERVICES BOX #1 -->
							<div class="col">
								<div id="sb-5-1" class="sbox-5 wow fadeInUp" data-wow-delay="0.3s">
									
									<!-- Icon -->
									<div class="sbox-ico ico-80 black--color">
										<span class="flaticon-pedicure-1"></span>
									</div> 

									<!-- Title -->
									<h5 class="h5-lg">Nail Care</h5>

									<!-- Text -->
									<p class="p-lg">Risus auctor ligula tempus and dolor vitae  neque feugiat ligula suscipit and risus mauri</p>
																											
								</div>							
							</div>	


				 			<!-- SERVICES BOX #2 -->
							<div class="col">
								<div id="sb-5-2" class="sbox-5 wow fadeInUp" data-wow-delay="0.6s">
									
									<!-- Icon -->
									<div class="sbox-ico ico-80 black--color">
										<span class="flaticon-nail-polish-3"></span>
									</div> 

									<!-- Title -->
									<h5 class="h5-lg">Nail Art</h5>

									<!-- Text -->
									<p class="p-lg">Risus auctor ligula tempus and dolor vitae  neque feugiat ligula suscipit and risus mauri</p>

								</div>							
							</div>
								
								
							<!-- SERVICES BOX #3 -->
							<div class="col">
								<div id="sb-5-3" class="sbox-5 wow fadeInUp" data-wow-delay="0.9s">
									
									<!-- Icon -->
									<div class="sbox-ico ico-80 black--color">
										<span class="flaticon-soak"></span>
									</div> 

									<!-- Title -->
									<h5 class="h5-lg">Add-Ons</h5>

									<!-- Text -->
									<p class="p-lg">Risus auctor ligula tempus and dolor vitae  neque feugiat ligula suscipit and risus mauri</p>
							
								</div>							
							</div>


							<!-- SERVICES BOX #4 -->
							<div class="col">
								<div id="sb-5-4" class="sbox-5 wow fadeInUp" data-wow-delay="1.2s">
									
									<!-- Icon -->
									<div class="sbox-ico ico-80 black--color">
										<span class="flaticon-skincare"></span>
									</div> 

									<!-- Title -->
									<h5 class="h5-lg">Treatments</h5>

									<!-- Text -->
									<p class="p-lg">Risus auctor ligula tempus and dolor vitae  neque feugiat ligula suscipit and risus mauri</p>
							
								</div>							
							</div>


						</div>
					</div>	<!-- END SERVICES-5 BOXES -->


				</div>	   <!-- End container -->
			</section>	<!-- END SERVICES-5 -->




			<!-- BOOKING-1
			============================================= -->
			<section id="booking-1" class="booking-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- BOOKING-1 IMAGE -->
						<div class="col-md-5 col-lg-6">
							<div class="booking-1-img">
								<img class="img-fluid" src="images/booking-1.jpg" alt="booking-image">
							</div>
						</div>


						<!-- BOOKING-1 WRAPPER -->
						<div class="col-md-7 col-lg-6">
					 		<div class="booking-1-wrapper bg--alice-blue">
								<div class="form-holder">

									<!-- Section ID -->	
					 				<span class="section-id">Booking Now</span>	

									<!-- Title -->
									<h4 class="h4-xl">Make An Appointment</h4>

									<!-- Booking Form -->
									<form name="bookinkform" class="row booking-form">

										<!-- Form Input -->
						                <div class="col-md-6">
						                	<input type="text" name="firstname" class="form-control firstname" placeholder="First Name*" required>
						                </div>

						                <!-- Form Input -->
						                <div class="col-md-6">
						                	<input type="text" name="lastname" class="form-control lastname" placeholder="Last Name*" required>
						                </div>
						                  
						                <!-- Form Input -->        
						                <div class="col-md-6">
						                	<input type="email" name="email" class="form-control email" placeholder="Email Address*" required> 
						                </div>

						                <!-- Form Input -->   
						                <div class="col-md-6">
						                	<input type="tel" name="phone" class="form-control phone" placeholder="Phone Number*" required> 
						                </div>

						                <!-- Form Select -->
						                <div class="col-md-6">
						                	<select name="service" class="form-select service" aria-label="Service Select">
						                		<option selected>Select Service</option>
						                      	<option>Classic Manicure</option>
						                      	<option>Spa Manicure</option>
						                      	<option>Gel Manicure</option>
						                      	<option>Classic Pedicure</option>
						                      	<option>Spa Pedicure</option>
						                      	<option>Nail Art</option>
						                      	<option>French Polish</option>
						                      	<option>Paraffin Mask</option>
						                      	<option>Gel Applications</option>
						                      	<option>Callus Treatment</option>
						                    </select>
						                </div>

						                <!-- Form Select -->
						                <div class="col-md-6">
						                	<select name="staff" class="form-select staff" aria-label="Staff Select">
						                		<option selected>Select Staff</option>
						                      	<option>Veronica Aaron</option>
						                      	<option>Olivia Grosh</option>
						                      	<option>Eva Anderson</option>
						                      	<option>Jessica Priston</option>
						                      	<option>Evelyn Sanchez</option>
						                      	<option>Kristin Cortes</option>
						                      	<option>Any Available Staff</option>
						                    </select>
						                </div>

						                <!-- Form Input -->
						                <div class="col-md-12">
						                	<input id="datetimepicker" type="text" name="date" class="form-control date" placeholder="Appointment Date*" required>
						                </div>
						                                            
						                <!-- Form Button -->
						                <div class="col-md-12 mt-10 text-end">  
						                	<button type="submit" class="btn rose--btn tra-black--hover submit">Book Now</button> 
						                </div>
						                                                              
						                <!-- Form Message -->
						                <div class="col-md-12 booking-form-msg">
						                	<div class="sending-msg"><span class="loading"></span></div>
						                </div>	
																								
									</form>	<!-- End Booking Form -->	

					 			</div>	
							</div>
						</div>	<!-- END BOOKING-1 WRAPPER -->


					</div>    <!-- End row -->
				</div>     <!-- End container -->
			</section>	<!-- END BOOKING-1 -->




			<!-- TESTIMONIALS-1
			============================================= -->
			<section id="reviews-1" class="wide-100 reviews-section division">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row justify-content-center">	
						<div class="col-lg-10 col-xl-8">
							<div class="section-title title-01 mb-50">

								<!-- Section ID -->	
					 			<span class="section-id">Testimonials</span>	

								<!-- Title -->	
								<h2 class="h2-lg">What People Are Saying</h2>	

							</div>	
						</div>
					</div>


					<!-- TESTIMONIALS CONTENT -->
					<div class="row">
						<div class="col-md-12">					
							<div class="owl-carousel owl-theme reviews-wrapper">

						
								<!-- TESTIMONIAL #1 -->
								<div class="review-1">

									<!-- Quote Icon -->
									<div class="quote-icon ico-80 black--color"><span class="flaticon-left-quote"></span></div>

									<!-- Text -->
									<p class="p-xl">&Prime;Etiam sapien sagittis congue an augue massa varius egestas suscipit  magna a tempus 
										and aliquet rutrum magna &Prime;				   
									</p>

									<!-- Testimonial Author -->
									<span class="testimonial-autor black--color">&mdash; Rachel A.</span>	

								</div>	<!-- END TESTIMONIAL #1 -->
						
						
								<!-- TESTIMONIAL #2 -->
								<div class="review-1">

									<!-- Quote Icon -->
									<div class="quote-icon ico-80 black--color"><span class="flaticon-left-quote"></span></div>

									<!-- Text -->
									<p class="p-xl">&Prime;At sagittis congue augue undo egestas magna ipsum vitae purus primis suscipit and 
										blandit a cursus molestie at quisque sapien and integer congue magna&Prime; 
								  	</p>

								  	<!-- Testimonial Author -->
									<span class="testimonial-autor black--color">&mdash; Wendy T.</span>		

								</div>	<!-- END TESTIMONIAL #2 -->
						
						
								<!-- TESTIMONIAL #3 -->
								<div class="review-1">

									<!-- Quote Icon -->
									<div class="quote-icon ico-80 black--color"><span class="flaticon-left-quote"></span></div>

									<!-- Text -->
									<p class="p-xl">&Prime;Mauris donec ociis magnis sapien etiam sapien congue augue pretium and ligula augue 
										a lectus magna suscipit egestas a vitae purus integer congue&Prime; 
									</p>

									<!-- Testimonial Author -->
									<span class="testimonial-autor black--color">&mdash; Grace L.</span>		

								</div>	<!-- END TESTIMONIAL #3 -->


								<!-- TESTIMONIAL #4 -->
								<div class="review-1">

									<!-- Quote Icon -->
									<div class="quote-icon ico-80 black--color"><span class="flaticon-left-quote"></span></div>

									<!-- Text -->
									<p class="p-xl">&Prime;An augue in cubilia laoreet magna and suscipit egestas magna ipsum purus an ipsum 
									   undo suscipit gravida donec and pretium ipsum porta integer&Prime; 
									</p>

									<!-- Testimonial Author -->
									<span class="testimonial-autor black--color">&mdash; Michelle Boxer</span>	

								</div>	<!-- END TESTIMONIAL #4 -->
								
								
								<!-- TESTIMONIAL #5 -->
								<div class="review-1">

									<!-- Quote Icon -->
									<div class="quote-icon ico-80 black--color"><span class="flaticon-left-quote"></span></div>

									<!-- Text -->
									<p class="p-xl">&Prime;Mauris donec magnis a sapien etiam sapien and congue augue egestas ultrice vitae 
										purus velna integer tempor congue egestas a vitae purus&Prime; 
									</p>

									<!-- Testimonial Author -->
									<span class="testimonial-autor black--color">&mdash; Kelley Baker</span>		

								</div>	<!-- END TESTIMONIAL #5 -->
								
								
								<!-- TESTIMONIAL #6 -->
								<div class="review-1">

									<!-- Quote Icon -->
									<div class="quote-icon ico-80 black--color"><span class="flaticon-left-quote"></span></div>

									<!-- Text -->
									<p class="p-xl">&Prime;An augue cubilia laoreet magna sapien suscipit undo egestas magna ipsum ligula 
										vitae a purus cubilia a blandit and auctor integer congue magna undo justo purus pretium ligula 
										efficitur ipsum&Prime; 
									</p>

									<!-- Testimonial Author -->
									<span class="testimonial-autor black--color">&mdash; Sarah D.</span>	

								</div>	<!-- END TESTIMONIAL #6 -->
								
								
								<!-- TESTIMONIAL #7 -->
								<div class="review-1">

									<!-- Quote Icon -->
									<div class="quote-icon ico-80 black--color"><span class="flaticon-left-quote"></span></div>

									<!-- Text -->
									<p class="p-xl">&Prime;Augue egestas volutpat undo egestas augue in cubilia laoreet magna at primis libero 
										undo suscipit luctus congue magna undo purus pretium ligula rutrum&Prime; 
									</p>

									<!-- Testimonial Author -->
									<span class="testimonial-autor black--color">&mdash; Nicole Byer</span>		

								</div>	<!-- END TESTIMONIAL #7 -->


								<!-- TESTIMONIAL #8 -->
								<div class="review-1">

									<!-- Quote Icon -->
									<div class="quote-icon ico-80 black--color"><span class="flaticon-left-quote"></span></div>

									<!-- Text -->
									<p class="p-xl">&Prime;Aliquam augue a suscipit luctus neque purus ipsum neque dolor primis libero at tempus 
									   blandit posuere magna sagittis congue augue magna risus mauris and volutpat and egestas&Prime; 
									</p>

									<!-- Testimonial Author -->
									<span class="testimonial-autor black--color">&mdash; AJ</span>	

								</div>	<!-- END TESTIMONIAL #8 -->

							
							</div>
						</div>									
					</div>	<!-- END TESTIMONIALS CONTENT --> 


				</div>     <!-- End container -->
			</section>	<!-- END TESTIMONIALS-1 -->




			<!-- BANNER-5
			============================================= -->
			<section id="banner-5" class="banner-section division">
				<div class="container">
					<div class="banner-5-wrapper bg-fixed">
						<div class="row">


							<!-- BANNER TEXT -->
							<div class="col-sm-10 col-md-8 col-lg-7">
								<div class="banner-5-txt">

									<!-- Section ID -->	
					 				<span class="section-id black--color">Elegance In Every Stroke</span>	

									<!-- Title -->	
									<h2 class="h2-xs">Get the nails you've been dreaming of…</h2>

									<!-- Button -->
									<a href="pricing.html" class="btn rose--btn tra-black--hover">Services & Prices</a>

								</div>
							</div>	<!-- END BANNER TEXT -->


						</div>    <!-- End row -->	
					</div>
				</div>	   <!-- End container -->	
			</section>	<!-- END BANNER-5 -->




			<!-- FOOTER-3
			============================================= -->
			<footer id="footer-3" class="1bg--deep-blue footer division">
				<div class="container 1white-smoke--color">


					<!-- FOOTER CONTENT -->
					<div class="row">


						<!-- FOOTER CONTACTS -->
						<div class="col-sm-6 col-lg-3">
							<div class="footer-contacts mb-30">

								<!-- Title -->
								<h5 class="h5-md">Location</h5>

								<!-- Salon Name -->
								<p class="p-lg txt-600">La Notte Studio</p>

								<!-- Address -->
								<p class="p-lg"> Los Angeles, 8721 M Central Avenue, CA 9003</p> 

							</div>
						</div>


						<!-- FOOTER CONTACTS -->
						<div class="col-sm-6 col-lg-3">
							<div class="footer-contacts mb-30">

								<!-- Title -->
								<h5 class="h5-md">Contacts</h5>
							
								<!-- Phone -->
								<p class="p-lg"><a href="tel:123456789">ph: +12 9 8765 4321</a></p>

								<!-- Email -->
								<p class="p-lg"><a href="mailto:yourdomain@mail.com" class="txt-600">hello@yourdomain.com</a></p>

								<!-- List -->
								<ul class="foo-socials ico-20 text-center clearfix">											
									<li><a href="#" class="ico-facebook"><span class="flaticon-instagram"></span></a></li>
									<li><a href="#" class="ico-twitter"><span class="flaticon-facebook"></span></a></li>	
									<li><a href="#" class="ico-youtube"><span class="flaticon-yelp"></span></a></li>
									<li><a href="#" class="ico-youtube"><span class="flaticon-vimeo"></span></a></li>
								</ul>

							</div>
						</div>


						<!-- FOOTER CONTACTS -->
						<div class="col-sm-6 col-lg-3">
							<div class="footer-info mb-30">

								<!-- Title -->
								<h5 class="h5-md">Opening Hours</h5>
								
								<!-- Text -->	
								<p class="p-lg">Mon-Fri: 10:00AM - 9:00PM</p>
								<p class="p-lg">Saturday: 10:00AM - 7:00PM</p>
								<p class="p-lg">Sunday: 10:00PM - 7:00PM</p>

							</div>
						</div>


						<!-- FOOTER GOOGLE MAP -->
						<div class="col-sm-6 col-lg-3">
							<div class="google-map mb-30">	
								<a href="https://www.google.com/maps/place/121+King+St,+Melbourne+VIC+3000,+%D0%90%D0%B2%D1%81%D1%82%D1%80%D0%B0%D0%BB%D0%B8%D1%8F/@-37.817251,144.9535863,17z/data=!3m1!4b1!4m5!3m4!1s0x6ad65d4dd5a05d97:0x3e64f855a564844d!8m2!3d-37.817251!4d144.955775" target="_blank">
								<img class="img-fluid" src="images/footer-map.jpg" alt="footer-map">
								</a>								
							</div>
						</div>	<!-- END FOOTER GOOGLE MAP -->


					</div>	  <!-- END FOOTER CONTENT -->


					<!-- BOTTOM FOOTER -->
					<div class="bottom-footer">
						<div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">


							<!-- FOOTER COPYRIGHT -->
							<div class="col">
								<div class="footer-copyright"><p class="p-md">&copy; 2021 La Notte. All Rights Reserved</p></div>
							</div>


							<!-- BOTTOM FOOTER LINKS -->
							<div class="col">
								<ul class="bottom-footer-list text-end">
									<li class="first-li"><p class="p-md"><a href="#">Privacy Policy</a></p></li>
									<li class="last-li"><p class="p-md"><a href="#">Terms & Conditions</a></p></li>
								</ul>
							</div>


						</div>  <!-- End row -->
					</div>	<!-- BOTTOM FOOTER -->


				</div>	   <!-- End container -->										
			</footer>	<!-- END FOOTER-3 -->


		

		</div>	<!-- END PAGE CONTENT -->	
			



		<!-- EXTERNAL SCRIPTS
		============================================= -->	
		<script src="js/jquery-3.6.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>	
		<script src="js/modernizr.custom.js"></script>
		<script src="js/jquery.easing.js"></script>
		<script src="js/jquery.appear.js"></script>
		<script src="js/jquery.scrollto.js"></script>	
		<script src="js/menu.js"></script>
		<script src="js/materialize.js"></script>
		<script src="js/datetimepicker.js"></script>	
		<script src="js/jquery.vide.min.js"></script>	
		<script src="js/imagesloaded.pkgd.min.js"></script>
		<script src="js/isotope.pkgd.min.js"></script>
		<script src="js/jquery.flexslider.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/booking-form.js"></script>	
		<script src="js/contact-form.js"></script>	
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/jquery.ajaxchimp.min.js"></script>	
		<script src="js/wow.js"></script>
				
		<!-- Custom Script -->		
		<script src="js/custom.js"></script>

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->															
		<!--
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->




	</body>



</html>
