<!DOCTYPE html>
<!-- La Notte - Nail Salon HTML5 Template design by DSAThemes (http://www.dsathemes.com) -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">


	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="author" content="DSAThemes"/>	
		<meta name="description" content="La Notte - Nail Salon HTML5 Template"/>
		<meta name="keywords" content="DSAThemes, Beauty, Salon, Beauty Parlour, Nails, Manicure, Pedicure, Care, Health, Massage">	
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
				
  		<!-- SITE TITLE -->
		<title>La Notte - Nail Salon HTML5 Template</title>
							
		<!-- FAVICON AND TOUCH ICONS -->
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="icon" href="images/apple-touch-icon.png" type="image/x-icon">

		<!-- GOOGLE FONTS -->
		<link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;700;800&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap" rel="stylesheet">

		<!-- BOOTSTRAP CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
				
		<!-- FONT ICONS -->
		<link href="css/flaticon.css" rel="stylesheet">

		<!-- PLUGINS STYLESHEET -->
		<link href="css/menu.css" rel="stylesheet">	
		<link id="effect" href="css/dropdown-effects/fade-down.css" media="all" rel="stylesheet">
		<link href="css/magnific-popup.css" rel="stylesheet">	
		<link href="css/flexslider.css" rel="stylesheet">
		<link href="css/owl.carousel.min.css" rel="stylesheet">
		<link href="css/owl.theme.default.min.css" rel="stylesheet">
		<link href="css/datetimepicker.min.css" rel="stylesheet">

		<!-- TEMPLATE CSS -->
		<link href="css/style.css" rel="stylesheet"> 

		<!-- ON SCROLL ANIMATION -->
		<link href="css/animate.css" rel="stylesheet">
		
		<!-- RESPONSIVE CSS -->
		<link href="css/responsive.css" rel="stylesheet">

	</head>



	<body>



		<!-- PRELOADER SPINNER
		============================================= -->
		<div id="loading" class="rose-loading">
			<div id="loading-center">
				<div class="spinner">
				  	<div class="blob top"></div>
				  	<div class="blob bottom"></div>
				  	<div class="blob left"></div>
				  	<div class="blob move-blob"></div>
				</div>
			</div>
		</div>




		<!-- PAGE CONTENT
		============================================= -->	
		<div id="page" class="page">




			<!-- HEADER
			============================================= -->
			<header id="header" class="header tra-menu navbar-light">
				<div class="header-wrapper">


					<!-- MOBILE HEADER -->
				    <div class="wsmobileheader clearfix">	  	
				    	<span class="smllogo"><img src="images/logo-01.png" alt="mobile-logo"/></span>
				    	<a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>	
				    	<a href="tel:123456789" class="callusbtn ico-20"><span class="flaticon-phone-call-1"></span></a>
				 	</div>


				 	<!-- NAVIGATION MENU -->
				  	<div class="wsmainfull menu clearfix">
	    				<div class="wsmainwp clearfix">


	    					<!-- HEADER LOGO -->
	    					<div class="desktoplogo"><a href="demo-1.html" class="logo-black"><img src="images/logo-01.png" alt="header-logo"></a></div>
	    					<div class="desktoplogo"><a href="demo-1.html" class="logo-white"><img src="images/logo-white.png" alt="header-logo"></a></div>


	    					<!-- MAIN MENU -->
	      					<nav class="wsmenu clearfix">
	        					<ul class="wsmenu-list">


	        						<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="demo-1.html">Home</a></li>


							    	<!-- DROPDOWN MENU -->
						        	<li aria-haspopup="true"><a href="#">Pages <span class="wsarrow"></span></a>
						        		<div class="wsmegamenu clearfix halfmenu">
						              		<div class="container-fluid">
						                		<div class="row">

						                			<!-- Links -->
									                <ul class="col-lg-6 link-list">	
									                	<li><a href="about.html">About Us</a></li>							          
									                    <li><a href="pricing.html">Services & Prices</a></li>
									                    <li><a href="gallery.html">Gallery Page</a></li>
									                    <li><a href="gift-cards.html">Gift Cards</a></li>  
									                    <li><a href="team.html">Artists + Staff</a></li>  
									                    <li><a href="careers.html">Careers</a></li> 
									                </ul>

								                  	<!-- Links -->
									                <ul class="col-lg-6 link-list">	
									                	<li><a href="faqs.html">FAQs Page</a></li> 			               
									                    <li><a href="blog-listing.html">Blog Listing</a></li>
									                    <li><a href="single-post.html">Single Blog Post</a></li>
									                    <li><a href="booking.html">Booking Page</a></li>
									                    <li><a href="contacts.html">Contact Us</a></li>
									                    <li><a href="location.html">Our Locations</a></li>
									                </ul>

						                		</div>
						              		</div>
						            	</div>
						          	</li>	<!-- END DROPDOWN MENU -->


						          	<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="pricing.html">Menu</a></li>


						          	<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="gallery.html">Gallery</a></li>


							    	<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="booking.html">Booking</a></li>


							    	<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="blog-listing.html">Blog</a></li>


								    <!-- HEADER BUTTON -->
								    <li class="nl-simple" aria-haspopup="true">
								    	<a href="contacts.html" class="btn rose--btn tra-white--hover last-link">Contacts</a>
								    </li> 


	        					</ul>
	        				</nav>	<!-- END MAIN MENU -->


	    				</div>
	    			</div>	<!-- END NAVIGATION MENU -->


				</div>     <!-- End header-wrapper -->
			</header>	<!-- END HEADER -->




			<!-- PAGE HERO
			============================================= -->	
			<section id="careers-page" class="bg-fixed page-hero-section division">
				<div class="container">	


					<!-- PAGE HERO TEXT -->
					<div class="row justify-content-center">	
						<div class="col-md-10 col-xl-8">
							<div class="hero-txt text-center white--color">
								<h2 class="h2-xl">Join Our Team</h2>	
							</div>	
						</div>
					</div>


					<!-- BREADCRUMB -->
					<div id="breadcrumb">
						<div class="row d-flex align-items-center">					
							<div class="col">
								<div class="breadcrumb-nav">
									<nav aria-label="breadcrumb">
									  	<ol class="breadcrumb">
									    	<li class="breadcrumb-item"><a href="demo-1.html">Home</a></li>
									    	<li class="breadcrumb-item active" aria-current="page">Careers</li>
									  	</ol>
									</nav>
								</div>
							</div>
						</div> 
					</div>	<!-- END BREADCRUMB -->


				</div>	   <!-- End container --> 
			</section>	<!-- END PAGE HERO -->




			<!-- ABOUT-3
			============================================= -->
			<section id="about-3" class="wide-100 about-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- TEXT BLOCK -->	
						<div class="col-md-7 col-lg-6">
							<div class="txt-block left-column wow fadeInRight">

								<!-- Section ID -->	
					 			<div class="section-id">Join Our Family</div>

					 			<!-- Title -->	
								<h3 class="h3-md">Come for the job… stay for the challenge</h3>	

								<!-- Text -->
								<p class="p-lg">Nullam tempor sapien gravida donec and pretium ipsum porta integer justo an odio velna vitae 
								   auctor integer congue magna undo purus a pretium ligula rutrum magna egestas 
								</p>

								<!-- List -->
								<ul class="simple-list">

									<li class="list-item">
										<p class="p-lg">Aliquam vitae molestie at quisque sapien volutpat and justo, aliquet molestie purus 
										   efficitur ipsum
										</p>
									</li>

									<li class="list-item">
										<p class="p-lg">Sagittis congue augue magna risus mauris volutpat and egestas magna suscipit egestas a 
										   vitae purus
										</p>
									</li>

								</ul>
									
							</div>	
						</div>


						<!-- IMAGE BLOCK -->
						<div class="col-md-5 col-lg-6">
							<div class="img-block right-column wow fadeInLeft">
								<img class="img-fluid" src="images/800x700_4.jpg" alt="about-image">
							</div>
						</div>


					</div>    <!-- End row -->	
				</div>	   <!-- End container -->	
			</section>	<!-- END ABOUT-3 -->




			<!-- TEAM-2
			============================================= -->
			<section id="team-2" class="pb-60 team-section division">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row justify-content-center">	
						<div class="col-lg-10 col-xl-8">
							<div class="section-title title-01 mb-70">

								<!-- Section ID -->	
					 			<span class="section-id">Join The Team Today</span>	

								<!-- Title -->	
								<h2 class="h2-md">Open Job Positions</h2>	

							</div>	
						</div>
					</div>


					<!-- TEAM MEMBERS HOLDER -->	
					<div class="team-members-wrapper">
						<div class="col-md-12">
							<div class="masonry-wrap grid-loaded">


								<!-- CAREER BOX #1 -->
								<div class="masonry-image">
									<div class="career-box bg--white-smoke wow fadeInUp" data-wow-delay="0.3s">

										<!-- TITLE -->
										<div class="rel career-box-title clearfix">	

											<!-- Icon -->
				 							<div class="career-box-ico ico-70 black--color clearfix">
												<span class="flaticon-manicure-1"></span>
											</div>

											<!-- Text -->
											<div class="career-box-title-txt color-01 clearfix">
												<h5 class="h5-lg">Manicurist</h5>
												<p class="txt-upcase">P/T or F/T</p>
											</div>

											<!-- Button -->	
											<div class="career-box-btn">
												<a href="contacts.html" class="btn btn-sm tra-black--btn rose--hover">Contact</a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="rel career-box-txt">	
											<ul class="simple-list">

												<li class="list-item">
													<p class="p-lg">Aliquam vitae molestie sapien justo</p>
												</li>

												<li class="list-item">
													<p class="p-lg">Sagittis congue augue egestas an donec luctus undo volutpat 
													   molestie egestas magna magna
													</p>
												</li>

												<li class="list-item">
													<p class="p-lg">Egestas volutpat egestas magna suscipit</p>
												</li>

											</ul>
										</div>	

									</div>									
								</div>	<!-- END CAREER BOX #1 -->


								<!-- CAREER BOX #2 -->
								<div class="masonry-image">
									<div class="career-box bg--white-smoke wow fadeInUp" data-wow-delay="0.6s">

										<!-- TITLE -->
										<div class="rel career-box-title clearfix">	

											<!-- Icon -->
				 							<div class="career-box-ico ico-70 black--color clearfix">
												<span class="flaticon-pedicure"></span>
											</div>

											<!-- Text -->
											<div class="career-box-title-txt color-01 clearfix">
												<h5 class="h5-lg">Pedicurist</h5>
												<p class="txt-upcase">Part-Time</p>
											</div>

											<!-- Button -->	
											<div class="career-box-btn">
												<a href="contacts.html" class="btn btn-sm tra-black--btn rose--hover">Contact</a>
											</div><!-- Button -->	

										</div>

										<!-- TEXT -->
										<div class="rel career-box-txt">

											<!-- Text -->	
											<p class="p-lg">Quaerat sodales sapien purus a blandit undo purus ipsum primis in cubilia
												laoreet augue luctus magna dolor luctus egestas at sapien vitae blandit
											</p>

											<!-- List -->		
											<ul class="simple-list">

												<li class="list-item">
													<p class="p-lg">Aliquam vitae molestie sapien justo</p>
												</li>

												<li class="list-item">
													<p class="p-lg">Sagittis congue augue egestas an donec luctus undo volutpat 
													   molestie egestas magna magna
													</p>
												</li>

												<li class="list-item">
													<p class="p-lg">Egestas volutpat egestas magna suscipit</p>
												</li>

											</ul>
										</div>	

									</div>									
								</div>	<!-- END CAREER BOX #2 -->


								<!-- CAREER BOX #3 -->
								<div class="masonry-image">
									<div class="career-box bg--white-smoke wow fadeInUp" data-wow-delay="0.9s">

										<!-- TITLE -->
										<div class="rel career-box-title clearfix">	

											<!-- Icon -->
				 							<div class="career-box-ico ico-70 black--color clearfix">
												<span class="flaticon-polish"></span>
											</div>

											<!-- Text -->
											<div class="career-box-title-txt color-01 clearfix">
												<h5 class="h5-lg">Colour Expert</h5>
												<p class="txt-upcase">Full-Time</p>
											</div>

											<!-- Button -->	
											<div class="career-box-btn">
												<a href="contacts.html" class="btn btn-sm tra-black--btn rose--hover">Contact</a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="rel career-box-txt">	
											<ul class="simple-list">

												<li class="list-item">
													<p class="p-lg">Aliquam vitae molestie sapien justo</p>
												</li>

												<li class="list-item">
													<p class="p-lg">Sagittis congue augue egestas an donec luctus undo volutpat 
													   molestie egestas magna magna
													</p>
												</li>

												<li class="list-item">
													<p class="p-lg">Egestas volutpat egestas magna suscipit</p>
												</li>

											</ul>
										</div>	

									</div>									
								</div>	<!-- END CAREER BOX #3 -->


								<!-- CAREER BOX #4 -->
								<div class="masonry-image">
									<div class="career-box bg--white-smoke wow fadeInUp" data-wow-delay="1.2s">

										<!-- TITLE -->
										<div class="rel career-box-title clearfix">	

											<!-- Icon -->
				 							<div class="career-box-ico ico-70 black--color clearfix">
												<span class="flaticon-woman"></span>
											</div>

											<!-- Text -->
											<div class="career-box-title-txt color-01 clearfix">
												<h5 class="h5-lg">Receptionist</h5>
												<p class="txt-upcase">P/T or F/T</p>
											</div>

											<!-- Button -->	
											<div class="career-box-btn">
												<a href="contacts.html" class="btn btn-sm tra-black--btn rose--hover">Contact</a>
											</div>

										</div>

										<!-- TEXT -->
										<div class="rel career-box-txt">	
											<ul class="simple-list">

												<li class="list-item">
													<p class="p-lg">Aliquam vitae molestie sapien justo</p>
												</li>

												<li class="list-item">
													<p class="p-lg">Sagittis congue augue egestas an donec luctus undo volutpat 
													   molestie egestas magna magna
													</p>
												</li>

											</ul>
										</div>	

									</div>									
								</div>	<!-- END CAREER BOX #4 -->

							</div>
						</div>   <!-- End row -->
					</div>	<!-- TEAM MEMBERS HOLDER -->	   


				</div>	    <!-- End container -->
			</section>	<!-- END TEAM-2 -->




			<!-- VIDEO-2
			============================================= -->
			<section id="video-2" class="rel video-section bg-video video-play">
				<div class="bg-fixed video-2-overlay division">
					<div class="container">
						<div class="row">


							<!-- VIDEO-2 TEXT -->
							<div class="col-lg-10 offset-lg-1">
								<div class="video-2-txt text-center white--color">

									<!-- Title -->
									<h2 class="h2-title-xs">Help Grow Our Team</h2>

									<!-- Text -->
									<p class="p-title-xl">Extravagant, Friendly Nail Service at an Affordable Price</p>

									<!-- Button -->
									<a href="about.html" class="btn rose--btn tra-white--hover">Find Out More</a>
								</div>
							</div>


						</div>    <!-- End row -->	
					</div>	   <!-- End container -->	
				</div>
			</section>	<!-- END VIDEO-2 -->




			<!-- FOOTER-3
			============================================= -->
			<footer id="footer-3" class="1bg--deep-blue footer division">
				<div class="container 1white-smoke--color">


					<!-- FOOTER CONTENT -->
					<div class="row">


						<!-- FOOTER CONTACTS -->
						<div class="col-sm-6 col-lg-3">
							<div class="footer-contacts mb-30">

								<!-- Title -->
								<h5 class="h5-md">Location</h5>

								<!-- Salon Name -->
								<p class="p-lg txt-600">La Notte Studio</p>

								<!-- Address -->
								<p class="p-lg"> Los Angeles, 8721 M Central Avenue, CA 9003</p> 

							</div>
						</div>


						<!-- FOOTER CONTACTS -->
						<div class="col-sm-6 col-lg-3">
							<div class="footer-contacts mb-30">

								<!-- Title -->
								<h5 class="h5-md">Contacts</h5>
							
								<!-- Phone -->
								<p class="p-lg"><a href="tel:123456789">ph: +12 9 8765 4321</a></p>

								<!-- Email -->
								<p class="p-lg"><a href="mailto:yourdomain@mail.com" class="txt-600">hello@yourdomain.com</a></p>

								<!-- List -->
								<ul class="foo-socials ico-20 text-center clearfix">											
									<li><a href="#" class="ico-facebook"><span class="flaticon-instagram"></span></a></li>
									<li><a href="#" class="ico-twitter"><span class="flaticon-facebook"></span></a></li>	
									<li><a href="#" class="ico-youtube"><span class="flaticon-yelp"></span></a></li>
									<li><a href="#" class="ico-youtube"><span class="flaticon-vimeo"></span></a></li>
								</ul>

							</div>
						</div>


						<!-- FOOTER CONTACTS -->
						<div class="col-sm-6 col-lg-3">
							<div class="footer-info mb-30">

								<!-- Title -->
								<h5 class="h5-md">Opening Hours</h5>
								
								<!-- Text -->	
								<p class="p-lg">Mon-Fri: 10:00AM - 9:00PM</p>
								<p class="p-lg">Saturday: 10:00AM - 7:00PM</p>
								<p class="p-lg">Sunday: 10:00PM - 7:00PM</p>

							</div>
						</div>


						<!-- FOOTER GOOGLE MAP -->
						<div class="col-sm-6 col-lg-3">
							<div class="google-map mb-30">	
								<a href="https://www.google.com/maps/place/121+King+St,+Melbourne+VIC+3000,+%D0%90%D0%B2%D1%81%D1%82%D1%80%D0%B0%D0%BB%D0%B8%D1%8F/@-37.817251,144.9535863,17z/data=!3m1!4b1!4m5!3m4!1s0x6ad65d4dd5a05d97:0x3e64f855a564844d!8m2!3d-37.817251!4d144.955775" target="_blank">
								<img class="img-fluid" src="images/footer-map.jpg" alt="footer-map">
								</a>								
							</div>
						</div>	<!-- END FOOTER GOOGLE MAP -->


					</div>	  <!-- END FOOTER CONTENT -->


					<!-- BOTTOM FOOTER -->
					<div class="bottom-footer">
						<div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">


							<!-- FOOTER COPYRIGHT -->
							<div class="col">
								<div class="footer-copyright"><p class="p-md">&copy; 2021 La Notte. All Rights Reserved</p></div>
							</div>


							<!-- BOTTOM FOOTER LINKS -->
							<div class="col">
								<ul class="bottom-footer-list text-end">
									<li class="first-li"><p class="p-md"><a href="#">Privacy Policy</a></p></li>
									<li class="last-li"><p class="p-md"><a href="#">Terms & Conditions</a></p></li>
								</ul>
							</div>


						</div>  <!-- End row -->
					</div>	<!-- BOTTOM FOOTER -->


				</div>	   <!-- End container -->										
			</footer>	<!-- END FOOTER-3 -->
			



		</div>	<!-- END PAGE CONTENT -->	
			



		<!-- EXTERNAL SCRIPTS
		============================================= -->	
		<script src="js/jquery-3.6.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>	
		<script src="js/modernizr.custom.js"></script>
		<script src="js/jquery.easing.js"></script>
		<script src="js/jquery.appear.js"></script>
		<script src="js/jquery.scrollto.js"></script>	
		<script src="js/menu.js"></script>
		<script src="js/materialize.js"></script>
		<script src="js/datetimepicker.js"></script>	
		<script src="js/jquery.vide.min.js"></script>	
		<script src="js/imagesloaded.pkgd.min.js"></script>
		<script src="js/isotope.pkgd.min.js"></script>
		<script src="js/jquery.flexslider.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/booking-form.js"></script>	
		<script src="js/contact-form.js"></script>	
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/jquery.ajaxchimp.min.js"></script>	
		<script src="js/wow.js"></script>
				
		<!-- Custom Script -->		
		<script src="js/custom.js"></script>

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->															
		<!--
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->




	</body>



</html>
