<!DOCTYPE html>
<!-- La Notte - Nail Salon HTML5 Template design by DSAThemes (http://www.dsathemes.com) -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">


	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="author" content="DSAThemes"/>	
		<meta name="description" content="La Notte - Nail Salon HTML5 Template"/>
		<meta name="keywords" content="DSAThemes, Beauty, Salon, Beauty Parlour, Nails, Manicure, Pedicure, Care, Health, Massage">	
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
				
  		<!-- SITE TITLE -->
		<title>La Notte - Nail Salon HTML5 Template</title>
							
		<!-- FAVICON AND TOUCH ICONS -->
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="icon" href="images/apple-touch-icon.png" type="image/x-icon">

		<!-- GOOGLE FONTS -->
		<link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;700;800&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap" rel="stylesheet">

		<!-- BOOTSTRAP CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
				
		<!-- FONT ICONS -->
		<link href="css/flaticon.css" rel="stylesheet">

		<!-- PLUGINS STYLESHEET -->
		<link href="css/menu.css" rel="stylesheet">	
		<link id="effect" href="css/dropdown-effects/fade-down.css" media="all" rel="stylesheet">
		<link href="css/magnific-popup.css" rel="stylesheet">	
		<link href="css/flexslider.css" rel="stylesheet">
		<link href="css/owl.carousel.min.css" rel="stylesheet">
		<link href="css/owl.theme.default.min.css" rel="stylesheet">
		<link href="css/datetimepicker.min.css" rel="stylesheet">

		<!-- TEMPLATE CSS -->
		<link href="css/style.css" rel="stylesheet"> 

		<!-- ON SCROLL ANIMATION -->
		<link href="css/animate.css" rel="stylesheet">
		
		<!-- RESPONSIVE CSS -->
		<link href="css/responsive.css" rel="stylesheet">

	</head>



	<body>



		<!-- PRELOADER SPINNER
		============================================= -->
		<div id="loading" class="rose-loading">
			<div id="loading-center">
				<div class="spinner">
				  	<div class="blob top"></div>
				  	<div class="blob bottom"></div>
				  	<div class="blob left"></div>
				  	<div class="blob move-blob"></div>
				</div>
			</div>
		</div>




		<!-- PAGE CONTENT
		============================================= -->	
		<div id="page" class="page">




			<!-- HEADER
			============================================= -->
			<header id="header" class="header tra-menu navbar-light">
				<div class="header-wrapper">


					<!-- MOBILE HEADER -->
				    <div class="wsmobileheader clearfix">	  	
				    	<span class="smllogo"><img src="images/logo-01.png" alt="mobile-logo"/></span>
				    	<a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>	
				    	<a href="tel:123456789" class="callusbtn ico-20"><span class="flaticon-phone-call-1"></span></a>
				 	</div>


				 	<!-- NAVIGATION MENU -->
				  	<div class="wsmainfull menu clearfix">
	    				<div class="wsmainwp clearfix">


	    					<!-- HEADER LOGO -->
	    					<div class="desktoplogo"><a href="demo-1.html" class="logo-black"><img src="images/logo-01.png" alt="header-logo"></a></div>
	    					<div class="desktoplogo"><a href="demo-1.html" class="logo-white"><img src="images/logo-white.png" alt="header-logo"></a></div>


	    					<!-- MAIN MENU -->
	      					<nav class="wsmenu clearfix">
	        					<ul class="wsmenu-list">


	        						<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="demo-1.html">Home</a></li>


							    	<!-- DROPDOWN MENU -->
						        	<li aria-haspopup="true"><a href="#">Pages <span class="wsarrow"></span></a>
						        		<div class="wsmegamenu clearfix halfmenu">
						              		<div class="container-fluid">
						                		<div class="row">

						                			<!-- Links -->
									                <ul class="col-lg-6 link-list">	
									                	<li><a href="about.html">About Us</a></li>							          
									                    <li><a href="pricing.html">Services & Prices</a></li>
									                    <li><a href="gallery.html">Gallery Page</a></li>
									                    <li><a href="gift-cards.html">Gift Cards</a></li>  
									                    <li><a href="team.html">Artists + Staff</a></li>  
									                    <li><a href="careers.html">Careers</a></li> 
									                </ul>

								                  	<!-- Links -->
									                <ul class="col-lg-6 link-list">	
									                	<li><a href="faqs.html">FAQs Page</a></li> 			               
									                    <li><a href="blog-listing.html">Blog Listing</a></li>
									                    <li><a href="single-post.html">Single Blog Post</a></li>
									                    <li><a href="booking.html">Booking Page</a></li>
									                    <li><a href="contacts.html">Contact Us</a></li>
									                    <li><a href="location.html">Our Locations</a></li>
									                </ul>

						                		</div>
						              		</div>
						            	</div>
						          	</li>	<!-- END DROPDOWN MENU -->


						          	<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="pricing.html">Menu</a></li>


						          	<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="gallery.html">Gallery</a></li>


							    	<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="careers.html">Careers</a></li>


							    	<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="blog-listing.html">Blog</a></li>


								    <!-- HEADER BUTTON -->
								    <li class="nl-simple" aria-haspopup="true">
								    	<a href="contacts.html" class="btn rose--btn tra-white--hover last-link">Contacts</a>
								    </li> 


	        					</ul>
	        				</nav>	<!-- END MAIN MENU -->


	    				</div>
	    			</div>	<!-- END NAVIGATION MENU -->


				</div>     <!-- End header-wrapper -->
			</header>	<!-- END HEADER -->




			<!-- PAGE HERO
			============================================= -->	
			<section id="contacts-page" class="bg-fixed page-hero-section division">
				<div class="container">	


					<!-- PAGE HERO TEXT -->
					<div class="row justify-content-center">	
						<div class="col-md-10 col-xl-8">
							<div class="hero-txt text-center white--color">
								<h2 class="h2-xl">Let's Talk Beauty!</h2>	
							</div>	
						</div>
					</div>


					<!-- BREADCRUMB -->
					<div id="breadcrumb">
						<div class="row d-flex align-items-center">					
							<div class="col">
								<div class="breadcrumb-nav">
									<nav aria-label="breadcrumb">
									  	<ol class="breadcrumb">
									    	<li class="breadcrumb-item"><a href="demo-1.html">Home</a></li>
									    	<li class="breadcrumb-item active" aria-current="page">Contact Us</li>
									  	</ol>
									</nav>
								</div>
							</div>
						</div> 
					</div>	<!-- END BREADCRUMB -->


				</div>	   <!-- End container --> 
			</section>	<!-- END PAGE HERO -->




			<!-- CONTACTS-2
			============================================= -->
			<section id="contacts-2" class="wide-50 contacts-section division">				
				<div class="container">


					<!-- CONTACTS-2 WRAPPER -->
					<div class="contacts-2-wrapper">


						<!-- CONTACT INFO & MAP -->	
						<div class="row d-flex align-items-center">


							<!-- HOURS & LOCATION -->
							<div class="col-md-5">

								<!-- WORKING HOURS -->
								<div class="cbox-2 mb-40">

									<!-- Title -->	
									<h5 class="h5-lg">Salon Hours:</h5>

									<!-- Text -->	
									<p class="p-lg">Monday: <span>11:00AM - 7:00PM</span></p>
									<p class="p-lg">Tue - Wed:  <span>10:00AM - 9:00PM</span></p>
									<p class="p-lg">Thursday:  <span>10:00AM - 7:30PM</span></p>
									<p class="p-lg">Friday:  <span>10:00AM - 9:00PM</span></p>
									<p class="p-lg">Saturday:  <span>10:00AM - 6:30PM</span></p>
									<p class="p-lg">Sunday:  <span>11:00PM - 5:00PM</span></p>

								</div>

								<!-- LOCATION -->
								<div class="cbox-2 mb-40">

									<!-- Title -->	
									<h5 class="h5-lg">Our Location:</h5>

									<!-- Title -->	
									<p class="p-lg">8721 M Central Avenue,</p> 
									<p class="p-lg">Los Angeles, CA 90036</p>

									<!-- Text -->	
									<p class="p-lg"><a href="tel:123456789">+12 9 8765 4321</a></p>
									<p class="p-lg"><a href="mailto:yourdomain@mail.com">hello@yourdomain.com</a></p>

								</div>


							</div>	<!-- END HOURS & LOCATION -->


							<!-- GOOGLE MAP -->	
							<div class="col-md-7">
								<div class="google-map mb-40">
													
									<!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->		
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8393924898796!2d144.9536363151022!3d-37.817230742014345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4e793770d3%3A0x9e44d6ad0d76ba7c!2zMTIxIEtpbmcgU3QsIE1lbGJvdXJuZSBWSUMgMzAwMCwg0JDQstGB0YLRgNCw0LvQuNGP!5e0!3m2!1sru!2sua!4v1469002590349" width="600" height="450"></iframe>
											
						 		</div>
			 				</div>	<!-- END GOOGLE MAP -->	


						</div>	<!-- END CONTACT INFO & MAP -->	


						<!-- CONTACT FORM -->
						<div class="row">


							<!-- SECTION TITLE -->	
							<div class="row justify-content-center">	
								<div class="col-lg-10 col-xl-8">
									<div class="section-title title-01 mb-60">

										<!-- Section ID -->	
							 			<span class="section-id">Online Enquiry</span>	

										<!-- Title -->	
										<h2 class="h2-md">Let's Get In Touch</h2>	

									</div>	
								</div>
							</div>


					 		<div class="col-md-12">
					 			<div class="form-holder mb-40">
									<form name="contactform" class="row contact-form">
																							
										<!-- Form Input -->
						                <div class="col-lg-6">
						                	<input type="text" name="name" class="form-control name" placeholder="Your Name*"> 
						                </div>
						                  
						                <!-- Form Input -->        
						                <div class="col-lg-6">
						                	<input type="email" name="email" class="form-control email" placeholder="Email Address*"> 
						                </div>

						                <!-- Form Input -->   
										<div class="col-md-12">
											<input type="text" name="subject" class="form-control subject" placeholder="What's this about?"> 
										</div>
		
										<!-- Form Textarea -->	        
						                <div class="col-md-12">
						                	<textarea name="message" class="form-control message" rows="6" placeholder="Your Message ..."></textarea>
						                </div> 
						                                            
						                <!-- Form Button -->
						                <div class="col-md-12 mt-15 text-end">  
						                	<button type="submit" class="btn rose--btn tra-black--hover submit">Send Message</button> 
						                </div>
						                                                              
						                <!-- Form Message -->
						                <div class="col-md-12 contact-form-msg text-center">
						                	<div class="sending-msg"><span class="loading"></span></div>
						                </div>	
																								
									</form>	
					 			</div>	
					 		</div>	
						</div>	  <!-- END CONTACT FORM -->	


					</div>	<!-- END CONTACTS-2 WRAPPER -->


				</div>	   <!-- End container -->		
			</section>	<!-- END CONTACTS-2 -->




			<!-- PROMO-1
			============================================= -->
			<section id="promo-1" class="promo-section division">
				<div class="container">
					<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">


						<!-- PROMO BOX #1 -->
						<div class="col">
							<div id="pb-1-1" class="promo-box">
								<div class="hover-overlay"> 

						  			<!-- Image -->
									<img class="img-fluid" src="images/promo-01.jpg" alt="promo-image" />			
									<div class="item-overlay"></div>

									<!-- Image Description -->
									<div class="pbox-description white--color">
										<div class="pbox-caption">
											<p class="txt-upcase">Meet Your Match</p>
											<h5 class="h5-lg pbox-link"><a href="pricing.html">Our Services</a></h5>		
										</div>																				 
									</div> 				

						  		</div>

							</div> 
						</div>	<!-- END PROMO BOX #1 -->


						<!-- PROMO BOX #2 -->
						<div class="col">
							<div id="pb-1-2" class="promo-box">
								<div class="hover-overlay"> 

						  			<!-- Image -->
									<img class="img-fluid" src="images/promo-02.jpg" alt="promo-image" />			
									<div class="item-overlay"></div>

									<!-- Image Description -->
									<div class="pbox-description white--color">
										<div class="pbox-caption">
											<p class="txt-upcase">Share The Love</p>
											<h5 class="h5-lg pbox-link"><a href="gift-cards.html">Refer a Friend</a></h5>	
										</div>																				 
									</div> 				

						  		</div>

							</div> 
						</div>	<!-- END PROMO BOX #2 -->


						<!-- PROMO BOX #3 -->
						<div class="col">
							<div id="pb-1-3" class="promo-box">
								<div class="hover-overlay"> 

						  			<!-- Image -->
									<img class="img-fluid" src="images/promo-03.jpg" alt="promo-image" />			
									<div class="item-overlay"></div>

									<!-- Image Description -->
									<div class="pbox-description white--color">
										<div class="pbox-caption">
											<p class="txt-upcase">Be Part Of Us</p>
											<h5 class="h5-lg pbox-link"><a href="careers.html">Join Our Team</a></h5>	
										</div>																				 
									</div> 

						  		</div>

							</div> 
						</div>	<!-- END PROMO BOX #3 -->


						<!-- PROMO BOX #4 -->
						<div class="col">
							<div id="pb-1-4" class="promo-box">
								<div class="hover-overlay"> 

						  			<!-- Image -->
									<img class="img-fluid" src="images/promo-04.jpg" alt="promo-image" />			
									<div class="item-overlay"></div>

									<!-- Image Description -->
									<div class="pbox-description white--color">
										<div class="pbox-caption">
											<p class="txt-upcase">Enjoy 10% OFF</p>
											<h5 class="h5-lg pbox-link"><a href="#footer-2">Join Our Newsletter</a></h5>
										</div>												 
									</div> 		

						  		</div>

							</div> 
						</div>	<!-- END PROMO BOX #4 -->


					</div>    <!-- End row -->	
				</div>	   <!-- End container -->	
			</section>	<!-- END PROMO-1 -->




			<!-- FOOTER-2
			============================================= -->
			<footer id="footer-2" class="footer division">
				<div class="container">


					<!-- FOOTER CONTENT -->
					<div class="row">


						<!-- FOOTER NEWSLETTER FORM -->
						<div class="col-md-5">
							<div class="footer-form mb-40">

								<!-- Title -->
								<h5 class="h5-lg">Stay in the Know</h5>

								<!-- Newsletter Form Input -->
								<form class="newsletter-form mt-30">
											
									<div class="input-group">
										<input type="email" class="form-control" placeholder="Email Address" required id="s-email">								
										<span class="input-group-btn ico-15">
											<button type="submit" class="btn rose--btn black--hover">Subscribe</button>
										</span>
									</div>

									<!-- Text -->
									<p>By signing and clicking Submit, you affirm you have read and agree to the <a href="#">Privacy
									   Policy</a> and <a href="#">Terms of Use</a>, and want to receive news.
									</p>

									<!-- Newsletter Form Notification -->		
									<label for="s-email" class="form-notification"></label>
												
								</form>
														
							</div>
						</div>	<!-- END FOOTER NEWSLETTER FORM -->	


						<!-- FOOTER CONTACTS -->
						<div class="col-md-7">
							<div class="row">


								<!-- FOOTER CONTACTS -->
								<div class="col-sm-8 col-md-9">
									<div class="footer-contacts mb-40">

										<!-- Title -->
										<h5 class="h5-lg">Get in Touch</h5>

										<!-- Address -->
										<p class="p-lg">8721 M Central Avenue, <br /> Los Angeles, CA 90036</p> 

										<!-- Email -->
										<p class="p-lg mt-5">
											<a href="mailto:yourdomain@mail.com" class="txt-600">hello@yourdomain.com</a>
										</p>

										<!-- Phone -->
										<h4 class="h4-sm txt-700"><a href="tel:123456789" class="rose--color">+12 9 8765 4321</a></h4>

										<!-- Working Hours -->	
										<p class="p-lg">Mon-Fri: 10AM - 9PM</p>
										<p class="p-lg">Saturday: 10AM - 7PM</p>
										<p class="p-lg">Sunday: 10PM - 7PM</p>

									</div>
								</div>	<!-- END FOOTER CONTACTS -->


								<!-- FOOTER LINKS -->
								<div class="col-sm-4 col-md-3">
									<div class="footer-links mb-40">

										<!-- Title -->
										<h5 class="h5-lg">Social</h5>

										<!-- Footer Links -->
										<ul class="foo-links clearfix">
											<li><p class="p-lg"><a href="#">Instagram</a></p></li>
											<li><p class="p-lg"><a href="#">Twitter</a></p></li>
											<li><p class="p-lg"><a href="#">Facebook</a></p></li>
											<li><p class="p-lg"><a href="#">Youtube</a></p></li>							
										</ul>

									</div>
								</div>	<!-- END FOOTER LINKS -->


							</div>
						</div>


					</div>	  <!-- END FOOTER CONTENT -->


					<!-- BOTTOM FOOTER -->
					<div class="bottom-footer">
						<div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">


							<!-- FOOTER COPYRIGHT -->
							<div class="col">
								<div class="footer-copyright"><p class="p-md">&copy; 2021 La Notte. All Rights Reserved</p></div>
							</div>


							<!-- BOTTOM FOOTER LINKS -->
							<div class="col">
								<ul class="bottom-footer-list text-end">
									<li class="first-li"><p class="p-md"><a href="#">Privacy Policy</a></p></li>
									<li><span>|</span></li>
									<li class="last-li"><p class="p-md"><a href="#">Terms & Conditions</a></p></li>
								</ul>
							</div>


						</div>  <!-- End row -->
					</div>	<!-- BOTTOM FOOTER -->


				</div>	   <!-- End container -->										
			</footer>	<!-- END FOOTER-2 -->	




		</div>	<!-- END PAGE CONTENT -->	
			



		<!-- EXTERNAL SCRIPTS
		============================================= -->	
		<script src="js/jquery-3.6.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>	
		<script src="js/modernizr.custom.js"></script>
		<script src="js/jquery.easing.js"></script>
		<script src="js/jquery.appear.js"></script>
		<script src="js/jquery.scrollto.js"></script>	
		<script src="js/menu.js"></script>
		<script src="js/materialize.js"></script>
		<script src="js/datetimepicker.js"></script>	
		<script src="js/jquery.vide.min.js"></script>	
		<script src="js/imagesloaded.pkgd.min.js"></script>
		<script src="js/isotope.pkgd.min.js"></script>
		<script src="js/jquery.flexslider.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/booking-form.js"></script>	
		<script src="js/contact-form.js"></script>	
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/jquery.ajaxchimp.min.js"></script>	
		<script src="js/wow.js"></script>
				
		<!-- Custom Script -->		
		<script src="js/custom.js"></script>

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->															
		<!--
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->




	</body>



</html>
