<!DOCTYPE html>
<!-- La Notte - Nail Salon HTML5 Template design by DSAThemes (http://www.dsathemes.com) -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">


	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="author" content="DSAThemes"/>	
		<meta name="description" content="La Notte - Nail Salon HTML5 Template"/>
		<meta name="keywords" content="DSAThemes, Beauty, Salon, Beauty Parlour, Nails, Manicure, Pedicure, Care, Health, Massage">	
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
				
  		<!-- SITE TITLE -->
		<title>La Notte - Nail Salon HTML5 Template</title>
							
		<!-- FAVICON AND TOUCH ICONS -->
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="icon" href="images/apple-touch-icon.png" type="image/x-icon">

		<!-- GOOGLE FONTS -->
		<link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;700;800&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap" rel="stylesheet">

		<!-- BOOTSTRAP CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
				
		<!-- FONT ICONS -->
		<link href="css/flaticon.css" rel="stylesheet">

		<!-- PLUGINS STYLESHEET -->
		<link href="css/menu.css" rel="stylesheet">	
		<link id="effect" href="css/dropdown-effects/fade-down.css" media="all" rel="stylesheet">
		<link href="css/magnific-popup.css" rel="stylesheet">	
		<link href="css/flexslider.css" rel="stylesheet">
		<link href="css/owl.carousel.min.css" rel="stylesheet">
		<link href="css/owl.theme.default.min.css" rel="stylesheet">
		<link href="css/datetimepicker.min.css" rel="stylesheet">

		<!-- TEMPLATE CSS -->
		<link href="css/style.css" rel="stylesheet"> 

		<!-- ON SCROLL ANIMATION -->
		<link href="css/animate.css" rel="stylesheet">
		
		<!-- RESPONSIVE CSS -->
		<link href="css/responsive.css" rel="stylesheet">

	</head>



	<body>



		<!-- PRELOADER SPINNER
		============================================= -->
		<div id="loading" class="rose-loading">
			<div id="loading-center">
				<div class="spinner">
				  	<div class="blob top"></div>
				  	<div class="blob bottom"></div>
				  	<div class="blob left"></div>
				  	<div class="blob move-blob"></div>
				</div>
			</div>
		</div>




		<!-- PAGE CONTENT
		============================================= -->	
		<div id="page" class="page">




			<!-- HEADER
			============================================= -->
			<header id="header" class="header white-menu navbar-dark">
				<div class="header-wrapper">


					<!-- MOBILE HEADER -->
				    <div class="wsmobileheader clearfix">	  	
				    	<span class="smllogo"><img src="images/logo-01.png" alt="mobile-logo"/></span>
				    	<a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>	
				    	<a href="tel:123456789" class="callusbtn ico-20"><span class="flaticon-phone-call-1"></span></a>
				 	</div>


				 	<!-- NAVIGATION MENU -->
				  	<div class="wsmainfull menu clearfix">
	    				<div class="wsmainwp clearfix">


	    					<!-- HEADER LOGO -->
	    					<div class="desktoplogo"><a href="demo-1.html" class="logo-black"><img src="images/logo-01.png" alt="header-logo"></a></div>
	    					<div class="desktoplogo"><a href="demo-1.html" class="logo-white"><img src="images/logo-white.png" alt="header-logo"></a></div>


	    					<!-- MAIN MENU -->
	      					<nav class="wsmenu clearfix">
	        					<ul class="wsmenu-list nav-theme">


	        						<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="demo-1.html">Home</a></li>


							    	<!-- DROPDOWN MENU -->
						        	<li aria-haspopup="true"><a href="#">Pages <span class="wsarrow"></span></a>
						        		<div class="wsmegamenu clearfix halfmenu">
						              		<div class="container-fluid">
						                		<div class="row">

						                			<!-- Links -->
									                <ul class="col-lg-6 link-list">	
									                	<li><a href="about.html">About Us</a></li>							          
									                    <li><a href="pricing.html">Services & Prices</a></li>
									                    <li><a href="gallery.html">Gallery Page</a></li>
									                    <li><a href="gift-cards.html">Gift Cards</a></li>  
									                    <li><a href="team.html">Artists + Staff</a></li>  
									                    <li><a href="careers.html">Careers</a></li> 
									                </ul>

								                  	<!-- Links -->
									                <ul class="col-lg-6 link-list">	
									                	<li><a href="faqs.html">FAQs Page</a></li> 			               
									                    <li><a href="blog-listing.html">Blog Listing</a></li>
									                    <li><a href="single-post.html">Single Blog Post</a></li>
									                    <li><a href="booking.html">Booking Page</a></li>
									                    <li><a href="contacts.html">Contact Us</a></li>
									                    <li><a href="location.html">Our Locations</a></li>
									                </ul>

						                		</div>
						              		</div>
						            	</div>
						          	</li>	<!-- END DROPDOWN MENU -->


						          	<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="pricing.html">Menu</a></li>


						          	<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="gallery.html">Gallery</a></li>


							    	<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="careers.html">Careers</a></li>


							    	<!-- SIMPLE NAVIGATION LINK -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="blog-listing.html">Blog</a></li>


								    <!-- HEADER BUTTON -->
								    <li class="nl-simple" aria-haspopup="true">
								    	<a href="contacts.html" class="btn rose--btn tra-black--hover last-link">Contacts</a>
								    </li> 


	        					</ul>
	        				</nav>	<!-- END MAIN MENU -->


	    				</div>
	    			</div>	<!-- END NAVIGATION MENU -->


				</div>     <!-- End header-wrapper -->
			</header>	<!-- END HEADER -->




			<!-- SINGLE POST
			============================================= -->
			<section id="single-post" class="wide-80 inner-page-hero blog-page-section division">
				<div class="container">
				 	<div class="row">


				 		<!-- SINGLE POST CONTENT -->
				 		<div class="col-lg-10 offset-lg-1">
				 			<div class="post-content">


				 				<!-- TITLE -->
				 				<div class="single-post-title text-center">

				 					<!-- Title -->
					 				<h2 class="h2-sm">Aliquam augue luctus laoreet purus an ipsum and libero</h2>

					 				<!-- Post Tag -->
									<p class="post-tag">
										by <a href="#">Amy Cooper-Gray</a> <span>|</span> Manicure, Trends <span>|</span> Oct 10, 2021
									</p>	

								</div>


								<!-- SINGLE POST IMAGE -->
					 			<div class="blog-post-img mt-50 mb-50">
									<img class="img-fluid" src="images/blog/900x500_1.jpg" alt="blog-post-image" />	
								</div>


								<!-- SINGLE POST TEXT -->
								<div class="single-post-txt">

									<!-- Text -->
									<p class="p-lg">Aliqum mullam blandit tempor sapien gravida donec ipsum, at porta justo. Velna vitae auctor and
									   congue magna nihil impedit ligula risus. Mauris donec ociis et magnis sapien sagittis sapien undo congue a 
									   tempor gravida donec enim ipsum porta justo integer odio velna a purus efficitur ipsum primis undo cubilia
									   laoreet augue egestas luctus donec purus and blandit sodales in magna dignissim an ultrices felis faucibus.
									</p>

									<!-- Text -->
									<p class="p-lg">Maecenas gravida porttitor nunc, quis vehicula magna luctus tempor. Quisque laoreet turpis augue,
									   viverra a augue eget, dictum tempor diam. Sed  pulvinar consectetur and placerat imperdiet a varius viverra. Turpis urna augue ac massa lorem fusce cursus aliquet elementum laoreet turpis urna augue. 
									</p>

									<!-- Small Title -->
									<h5 class="h5-lg">Praesent aliquet tempus</h5>

									<!-- List -->
									<ul class="simple-list">
										
										<li class="list-item">
											<p class="p-lg">Donec dolor magna, suscipit in magna dignissim, porttitor hendrerit diam. Nunc gravida
											   ultrices felis eget faucibus. Praesent aliquet tempus, blandit posuere ligula varius
											</p>
										</li>

										<li class="list-item">
											<p class="p-lg">Fringilla risus nec, luctus mauris orci auctor euismod purus pretium purus pretium ligula
											   rutrum tempor mullam blandit tempor sapien and gravida donec ipsum at justo
											</p>
										</li>

										<li class="list-item">
											<p class="p-lg">Quaerat sodales sapien undo euismod purus blandit velna vitae auctor a congue magna tempor
											   sapien eget gravida laoreet turpis urna augue, viverra a augue eget, dictum tempor diam pulvinar in
											   cubilia laoreet augue donec
										   </p>
										</li>

									</ul>

									<!-- Small Title -->
									<h5 class="h5-lg">Lorem egestas a dolor posuere</h5>

									<!-- Text -->
									<p class="p-lg">Nulla tincidunt volutpat tincidunt. Pellentesque habitant morbi tristique senectus netus and
										malesuada famesa augue suscipit, luctus at neque purus neque dolor primis. Nemo sodales ipsam egestas volute
										turpis dolores ut aliquam quaerat sodales sapien congue augue
									</p>

									<!-- INNER IMAGES -->
									<div class="post-inner-img">
										<img class="img-fluid" src="images/blog/900x450_1.jpg" alt="blog-post-image" />
									</div>

									<!-- Text -->
									<p class="p-lg"><span class="txt-700">Aliqum  mullam blandit tempor sapien </span> gravida donec magnis sapien 
									   etiam sapien sem sagittis congue undo tempor gravida donec enim ipsum porta integer ipsum primis in cubilia 
									   porta justo.
									</p>

									<!-- Text -->
									<p class="p-lg"><span class="txt-700">Maecenas gravida porttitor nunc, quis vehicula </span> magna luctus tempor.
										Quisque vel laoreet turpis urna augue, viverra a augue eget, dictum tempor diam. Sed pulvinar consectetur vel imperdiet dui varius viverra. Pellentesque ac massa lorem. Fusce eu cursus non nulla vitae massa placerat purus
									    bibendum quis, aliquet elementum massa, et porttitor justo congue magna nihil impedit ligula ipsum porta integer.
									</p>

									<!-- Text -->
									<p class="p-lg">Sagittis congue augue egestas volutpat egestas magna suscipit egestas magna ipsum vitae purus
										efficitur ipsum primis in cubilia laoreet augue egestas luctus donec diam. Curabitur ac dapibus libero. Quisque
										eu tristique neque. Phasellus blandit tristique justo ut aliquam. Aliquam vitae molestie sapien justo, aliquet
										at molestie sed, venenatis nec purus. Aliquam eget lacinia elit. Vestibulum tincidunt tincidunt massa
									</p>

									<!-- INNER IMAGE -->
									<div class="post-inner-img">
										<div class="video-preview">

											<!-- Play Icon --> 
											<a class="video-popup1" href="https://www.youtube.com/embed/SZEflIVnhH8">				
												<div class="video-btn video-btn-xl bg--rose ico-90">	
													<div class="video-block-wrapper"><span class="flaticon-18"></span></div>
												</div>
											</a>

											<!-- Preview Image --> 
						 					<img class="img-fluid" src="images/blog/900x450_2.jpg" alt="video-preview">

										</div>
									</div>

									<!-- Small Title -->
									<h5 class="h5-lg">Egestas volute turpis dolores</h5>

									<!-- Text -->
									<p class="p-lg">Nulla tincidunt volutpat tincidunt. Pellentesque habitant morbi tristique senectus et netus and
									   malesuada famesa augue suscipit, luctus at neque purus neque dolor primis. Nemo sodales ipsam egestas volute 
									   and turpis dolores ut aliquam quaerat sodales sapien congue augue ac dapibus libero quisque tristique
									</p>


								</div>	<!-- END SINGLE POST TEXT -->


								<!-- SINGLE POST SHARE LINKS -->
								<div class="row post-share-links d-flex align-items-center">

									<!-- POST TAGS -->
									<div class="col-sm-9 col-xl-8 post-tags-list">
										<span><a href="#">Tips & Tricks</a></span>	
										<span><a href="#">Trending Ideas</a></span>
										<span><a href="#">Advice</a></span>										
									</div>

									<!-- POST SHARE ICONS -->
									<div class="col-sm-3 col-xl-4 post-share-list text-end">
										<ul class="share-social-icons ico-25 theme-color text-center clearfix">						
											<li><a href="#" class="share-ico"><span class="flaticon-twitter"></span></a></li>
											<li><a href="#" class="share-ico"><span class="flaticon-facebook"></span></a></li>
											<li><a href="#" class="share-ico"><span class="flaticon-15"></span></a></li>
										</ul>
									</div>

								</div>	<!-- END SINGLE POST SHARE -->


								<!-- POST COMMENTS -->
								<div class="post-comments">
									<div class="comments-wrapper">


										<!-- Title -->	
										<h5 class="h5-xl">4 Comments</h5>


										<!-- COMMENT #1 -->
										<div class="comment d-flex">

											<!-- Comment-1 Avatar -->
										  	<img src="images/comment-author-1.jpg" alt="comment-avatar">

										  	<!-- Comment-Body -->
										  	<div class="comment-body">

										  		<!-- Comment-1 Meta -->
										 		<div class="comment-meta">
										 			<h6 class="h6-lg">Tucker</h6>						
											   		<span class="comment-date">5 days ago&#8194;- </span>
													<span class="btn-reply ico-20">
														<a href="#leave-comment"><span class="flaticon-23"></span> Reply</a>
													</span>
												</div>
												
												<!-- Comment-1 Text -->	
										   		<p class="p-lg mb-40">Etiam sapien sem magna at vitae pulvinar congue augue egestas pretium neque 
										   			undo viverra suscipit egestas magna porta ratione, mollis risus lectus porta rutrum aenean primis 
										   			in augue luctus neque purus ipsum neque dolor primis purus efficitur an ipsum primis cubilia
										   		</p>

										   		<hr />

										   		<!-- Nested Comment -->
											    <div class="comment d-flex">

											    	<!-- Nested Avatar -->
											      	<a href="#" class="pr-3">
											        	<img src="images/comment-author-2.jpg" alt="comment-avatar">
											      	</a>

											      	<div class="comment-body">

											      		<!-- Comment-2 Meta -->
												 		<div class="comment-meta">
													   		<h6 class="h6-lg">Cindy Harper</h6>
													   		<span class="comment-date">6 days ago&#8194;- </span>
															<span class="btn-reply ico-20">
																<a href="#leave-comment"><span class="flaticon-23"></span> Reply</a>
															</span>
														</div>

											        	<!-- Comment-2 Text -->	
												   		<p class="p-lg">Etiam sapien magna at vitae pulvinar congue egestas a pretium neque viverra
												   			suscipit porta ratione, mollis risus lectus porta aliquet lorem puruss mollis 
												   		</p>

											     	 </div>	

											    </div>	<!-- End Nested Comment -->


										  	</div>


										</div>	<!-- END COMMENT #1 -->	


										<hr />	


										<!-- COMMENT #3 -->
										<div class="comment d-flex">

											<!-- Comment Avatar -->
										  	<img src="images/comment-author-3.jpg" alt="comment-avatar">

										  	<!-- Comment Body -->
										 	<div class="comment-body">

										 		<!-- Comment Meta -->
										 		<div class="comment-meta">
											   		<h6 class="h6-lg">Anne Steiner</h6>
											   		<span class="comment-date">13 days ago&#8194;- </span>
													<span class="btn-reply ico-20">
														<a href="#leave-comment"><span class="flaticon-23"></span> Reply</a>
													</span>
												</div>
												
												<!-- Comment Text -->	
										   		<p class="p-lg">Porta ratione, mollis risus lectus porta rutrum arcu aenean primis in augue luctus and
										   			neque purus ipsum neque dolor primis libero tempus, tempor posuere ligula varius an impedit enim
										   			tempor vitae pulvinar at congue augue egestas praesent aliquet 
										   		</p>

										   	</div>	<!-- End Comment Body -->

										</div>	<!-- END COMMENT #3 -->	


										<hr />


										<!-- COMMENT #4 -->
										<div class="comment d-flex">

											<!-- Comment Avatar -->
										  	<img src="images/comment-author-4.jpg" alt="comment-avatar">

										  	<!-- Comment Body -->
										 	<div class="comment-body">

										 		<!-- Comment Meta -->
										 		<div class="comment-meta">
											   		<h6 class="h6-lg">Nikki T. Johnson</h6>
											   		<span class="comment-date">42 days ago&#8194;- </span>
													<span class="btn-reply ico-20">
														<a href="#leave-comment"><span class="flaticon-23"></span> Reply</a>
													</span>
												</div>
												
												<!-- Comment Text -->	
										   		<p class="p-lg">Etiam sapien sem magna at vitae pulvinar congue augue egestas pretium neque undo 
										   			viverra suscipit egestas magna porta ratione, mollis risus lectus porta rutrum arcu
										   		</p>

										   	</div>	<!-- End Comment Body -->

										</div>	<!-- END COMMENT #4 -->		


										<hr />


										<!-- COMMENT FORM -->
										<div id="leave-comment">
											
											<!-- Title -->
											<h5 class="h5-xl">Leave a Comment</h5>
											
											<!-- Text -->
											<p class="p-lg">Your email address will not be published. Required fields are marked *</p>

											<form name="commentForm" class="row comment-form">

												<div class="col-md-12 input-message">
								                	<p class="black--color">Add Comment *</p>
								                	<textarea class="form-control message" name="message" rows="6" placeholder="Enter Your Comment Here* ..." required></textarea>
								                </div> 
						                                            
								                <div class="col-md-12">
								                	<p class="black--color">Name*</p>
								                	<input type="text" name="name" class="form-control name" placeholder="Enter Your Name*" required> 
								                </div>
								                        
								                <div class="col-md-12">
								                	<p class="black--color">Email*</p>
								                	<input type="email" name="email" class="form-control email" placeholder="Enter Your Email*" required> 
								                </div>
								                                 
								                <!-- Contact Form Button -->
								                <div class="col-lg-12 form-btn"> 						                 
								                	<button type="submit" class="btn rose--btn tra-black--hover submit">
								                	   Post Comment
								                	</button> 
								                </div>
								                                                              
								                <!-- Contact Form Message -->
								                <div class="col-md-12 comment-form-msg text-center">
								                	<div class="sending-msg"><span class="loading"></span></div>
								                </div>  
							                                              
							                </form>									
										
										</div>	<!-- END COMMENT FORM -->


									</div>	<!-- End comments-wrapper -->
								</div>	<!-- END POST COMMENTS -->


				 			</div>
				 		</div>	<!-- ENDSINGLE POST CONTENT -->


				 	</div>    <!-- End row -->
				 </div>    <!-- End container -->
			</section>	<!-- END SINGLE POST -->




			<!-- NEWSLETTER-1
			============================================= -->
			<section id="newsletter-1" class="newsletter-section division">
				<div class="container">
					<div class="newsletter-wrapper bg--white-smoke">


						<!-- SECTION TITLE -->
						<div class="row justify-content-center">	
							<div class="col-lg-10 col-xl-8">
								<div class="section-title title-01 mb-50">	

									<!-- Section ID -->	
						 			<span class="section-id">Connect with La Notte</span>	

									<!-- Title -->	
									<h2 class="h2-lg">Join Our Newsletter</h2>	

								</div>	
							</div>
						</div>


						<div class="row">


							<!-- NEWSLETTER FORM -->
							<div class="col">
								<form class="newsletter-form">
											
									<div class="input-group">
										<input type="email" autocomplete="off" class="form-control" placeholder="Your email address" required id="s-email">								
										<span class="input-group-btn">
											<button type="submit" class="btn rose--btn black--hover">Subscribe Now</button>
										</span>										
									</div>

									<!-- Small Text -->
									<p class="p-md">By signing and clicking Submit, you affirm you have read and agree to the 
										<a href="#" class="black--color">Privacy Policy</a> and <a href="#" class="black--color">Terms of Use</a>, 
										and want to receive news.
									</p>

									<!-- Newsletter Form Notification -->	
									<label for="s-email" class="form-notification"></label>
												
								</form>							
							</div>	  <!-- END NEWSLETTER FORM -->


						</div>	  <!-- End row -->


					</div>    <!-- End newsletter-wrapper -->
				</div>	   <!-- End container -->	
			</section>	<!-- END NEWSLETTER-1 -->




			<!-- FOOTER-1
			============================================= -->
			<footer id="footer-1" class="footer division">
				<div class="container">


					<!-- FOOTER CONTENT -->
					<div class="row">


						<!-- FOOTER CONTACTS -->
						<div class="col-sm-6 col-lg-4">
							<div class="footer-contacts mb-40">
							
								<!-- Title -->
								<h5 class="h5-md">Get in Touch</h5>

								<!-- Address -->
								<p class="p-lg">8721 M Central Avenue, CA 90036</p> 

								<!-- Phone -->
								<p class="p-lg"><a href="tel:123456789">ph: +12 9 8765 4321</a></p>

								<!-- Email -->
								<p class="p-lg"><a href="mailto:yourdomain@mail.com" class="txt-600">hello@yourdomain.com</a></p>

								<!-- List -->
								<ul class="foo-socials ico-20 text-center clearfix">									
									<li><a href="#" class="ico-facebook"><span class="flaticon-instagram"></span></a></li>
									<li><a href="#" class="ico-twitter"><span class="flaticon-facebook"></span></a></li>	
									<li><a href="#" class="ico-youtube"><span class="flaticon-yelp"></span></a></li>
									<li><a href="#" class="ico-youtube"><span class="flaticon-vimeo"></span></a></li>
								</ul>

							</div>	
						</div>	


						<!-- FOOTER CONTACTS -->
						<div class="col-sm-6 col-lg-3">
							<div class="footer-info mb-40">
								
								<!-- Title -->
								<h5 class="h5-md">Working Hours</h5>

								<!-- Text -->	
								<p class="p-lg">Mon-Fri: 10:00AM - 9:00PM</p>
								<p class="p-lg">Saturday: 10:00AM - 7:00PM</p>
								<p class="p-lg">Sunday: 10:00PM - 7:00PM</p>

								<!-- Booking Link -->
								<h5 class="h5-lg booking-link">
									<a href="booking.html" class="rose--color">Book a Service</a>
								</h5>

							</div>
						</div>


						<!-- FOOTER INSTAGRAM -->
						<div class="col-lg-5">
							<div class="footer-img text-end mb-30">

								<!-- IMAGES -->
								<ul class="footer-instagram clearfix">

									<!-- IMAGE #1 -->
									<li class="foo-img">
										<a href="#" target="_blank">
											<div class="hover-overlay"> 
												<img class="insta-img" src="images/instagram/700x700_1.jpg" alt="insta-img">
												<div class="item-overlay"></div>
											</div>
										</a>
									</li>

									<!-- IMAGE #2 -->
									<li class="foo-img">
										<a href="#" target="_blank">
											<div class="hover-overlay"> 
												<img class="insta-img" src="images/instagram/700x700_2.jpg" alt="insta-img">
												<div class="item-overlay"></div>
											</div>
										</a>
									</li>

									<!-- IMAGE #3 -->
									<li class="foo-img">
										<a href="#" target="_blank">
											<div class="hover-overlay"> 
												<img class="insta-img" src="images/instagram/700x700_3.jpg" alt="insta-img">
												<div class="item-overlay"></div>
											</div>
										</a>
									</li>

									<!-- IMAGE #4 -->
									<li class="foo-img">
										<a href="#" target="_blank">
											<div class="hover-overlay"> 
												<img class="insta-img" src="images/instagram/700x700_4.jpg" alt="insta-img">
												<div class="item-overlay"></div>
											</div>
										</a>
									</li>

									<!-- IMAGE #5 -->
									<li class="foo-img">
										<a href="#" target="_blank">
											<div class="hover-overlay"> 
												<img class="insta-img" src="images/instagram/700x700_5.jpg" alt="insta-img">
												<div class="item-overlay"></div>
											</div>
										</a>
									</li>

									<!-- IMAGE #6 -->
									<li class="foo-img">
										<a href="#" target="_blank">
											<div class="hover-overlay"> 
												<img class="insta-img" src="images/instagram/700x700_6.jpg" alt="insta-img">
												<div class="item-overlay"></div>
											</div>
										</a>
									</li>

								</ul>						
							</div>
						</div>	<!-- END FOOTER INSTAGRAM -->


					</div>	  <!-- END FOOTER CONTENT -->


					<!-- BOTTOM FOOTER -->
					<div class="bottom-footer">
						<div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">


							<!-- FOOTER COPYRIGHT -->
							<div class="col">
								<div class="footer-copyright"><p class="p-md">&copy; 2021 La Notte. All Rights Reserved</p></div>
							</div>


							<!-- BOTTOM FOOTER LINKS -->
							<div class="col">
								<ul class="bottom-footer-list text-end">
									<li class="first-li"><p class="p-md"><a href="#">Privacy Policy</a></p></li>
									<li><span>|</span></li>
									<li class="last-li"><p class="p-md"><a href="#">Terms & Conditions</a></p></li>
								</ul>
							</div>


						</div>  <!-- End row -->
					</div>	<!-- BOTTOM FOOTER -->


				</div>	   <!-- End container -->										
			</footer>	<!-- END FOOTER-1 -->

		


		</div>	<!-- END PAGE CONTENT -->	
			



		<!-- EXTERNAL SCRIPTS
		============================================= -->	
		<script src="js/jquery-3.6.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>	
		<script src="js/modernizr.custom.js"></script>
		<script src="js/jquery.easing.js"></script>
		<script src="js/jquery.appear.js"></script>
		<script src="js/jquery.scrollto.js"></script>	
		<script src="js/menu.js"></script>
		<script src="js/materialize.js"></script>
		<script src="js/datetimepicker.js"></script>	
		<script src="js/jquery.vide.min.js"></script>	
		<script src="js/imagesloaded.pkgd.min.js"></script>
		<script src="js/isotope.pkgd.min.js"></script>
		<script src="js/jquery.flexslider.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/booking-form.js"></script>	
		<script src="js/contact-form.js"></script>
		<script src="js/comment-form.js"></script>		
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/jquery.ajaxchimp.min.js"></script>	
		<script src="js/wow.js"></script>
				
		<!-- Custom Script -->		
		<script src="js/custom.js"></script>

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->															
		<!--
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->




	</body>



</html>
